<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<head>
<title>Candidate List Item</title>
</head>
<body>
<composite:interface>

	<composite:attribute name="data" required="true" type="org.unitedprime.mps.model.Candidate" />

</composite:interface>
<composite:implementation>
	<div id="candID#{cc.attrs.data.partyId}" class="Card HoverEffect">
		<div class="CardTopic Wid70 TexAlLeft Fleft">
		<p:commandLink action="#{candidateBean.navigateToCandidateDetail()}">
			<f:param name="candidateId" value="#{cc.attrs.data.id}"/>
			<span class="FontMyanmar3Bold Fs15 DispBlock Blue">
			#{cc.attrs.data.name}
			</span>
		</p:commandLink>
		</div>
			
		<div class="CardTopic Wid20 TexAlRight Fright">
			<i class="icon-user Fs16 Gray" style="padding-left: 10px;"></i> 
			<span id="candID#{cc.attrs.data.id}"
				class="FontMyanmar3Bold Fs15 Gray candidateViewCount" style="padding-left: 5px;">
				<h:outputText value="#{cc.attrs.data.interest}" styleClass="candidateInterest" converter="mmNumberConverter" />
			</span>
		</div>
		<div class="EmptyBox10"></div>

		<div class="SeparatorFull"></div>
		
		<div class="Wid40 TexAlCenter Fleft">
			<p:graphicImage styleClass="Container100" url="#{cc.attrs.data.photo}" rendered="#{ not empty cc.attrs.data.photo}" />
			<div class="EmptyBox10"></div>
	        <h:outputText value="#{cc.attrs.data.birthdate}" styleClass="FontMyanmar3Bold Fs12 DispBlock">
	           	<f:converter converterId="AgeConverter"></f:converter>
	         </h:outputText>
	    </div>
        
        <div class="Wid50 Fright">
        	<span class="FontMyanmar3Bold Fs14 DispBlock">#{cc.attrs.data.legislature}</span>
			<div class="EmptyBox10"></div>
        	<span class="FontMyanmar3Bold Fs14 DispBlock">#{cc.attrs.data.constituency.name}</span>
			<div class="EmptyBox10"></div>
        	<span class="FontMyanmar3Bold Fs14 DispBlock Green">
        		<h:outputText value="#{cc.attrs.data.wordVillage}">
        			<f:converter converterId="longTextConverter"></f:converter>
        		</h:outputText>
        	</span>
			<div class="EmptyBox10"></div>
        	<span class="FontMyanmar3Bold Fs12 DispBlock Purple">#{cc.attrs.data.religion}</span>
			<div class="EmptyBox10"></div>
        	<span class="FontMyanmar3Bold Fs12 DispBlock Orange">
        		<h:outputText value="#{cc.attrs.data.education}">
        			<f:converter converterId="longTextConverter"></f:converter>
        		</h:outputText>
        	</span>
        	<span class="FontMyanmar3Bold Fs12 DispBlock Orange">
        		<h:outputText value="#{cc.attrs.data.occupation}">
        			<f:converter converterId="longTextConverter"></f:converter>
        		</h:outputText>
        	</span>
        </div>

		<div class="EmptyBox20"></div>
		
		<div class="SeparatorFull"></div>
		<div class="Container100 TexAlCenter">
	        	<span class="FontMyanmar3Bold Fs15 DispBlock Blue">
	        		<p:commandLink action="#{partyBean.navigateToPartyDetail()}">
					<f:param name="partyId" value="#{cc.attrs.data.partyId}"></f:param>
	        			<h:outputText value="#{cc.attrs.data.partyId}" converter="partyNameConverter" rendered="#{not empty cc.attrs.data.partyId}" />
	        		 </p:commandLink>
	        		<h:outputText value="တစ်သီ:ပုဂ္ဂလကိုယ်စာ:လှယ်" rendered="#{ empty cc.attrs.data.partyId}" />
	        	</span>
	       	
		</div>
	</div>

</composite:implementation>
</body>
</html>