<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>FAQ List Item</title>
</head>
<body>
	<composite:interface>

		<composite:attribute name="data" required="true"
			type="org.unitedprime.mps.model.Faq" />

	</composite:interface>
	<composite:implementation>

		<div class="Card  HoverEffect">
			<div class="CardTopic">
				<i class="FontMyanmar3Bold LeadenGreen Fs16"><h:outputText value="#{cc.attrs.data.question}" /></i>
			</div>
			<div class="SeparatorFull"></div>
			<h:outputText value="#{cc.attrs.data.answer}" />
			<div style="text-align: right;">
				<span class="CardSubTopic">
					<h:outputText
						value="#{cc.attrs.data.lawOrSource} - #{cc.attrs.data.articleOrSection}" />
				</span>
			</div>
		</div>

	</composite:implementation>
</body>
</html>