<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface>
		<composite:attribute name="motions" required="true" type="java.util.List"/>
	</composite:interface>
	<composite:implementation>

		<ui:repeat var="motion" value="#{cc.attrs.motions}">
			<div class="ContainerIndent">
				<div class="Card WhiteBlueBack ">
				<div class="Fleft Fs24 FontAdamantiumBold DispBlock Purple Fleft Wid60" style="margin-top: -10px; margin-bottom: 10px;">
					<h:outputText value="#{motion.issue}" />
				</div>

				<div class="SeparatorFull"></div>

				<span class="FontAdamantiumBold Fs16 DispBlock BoldGray"> 
					<h:outputText value="#{motion.description['english']}" 
						rendered="#{not empty motion.description['english']}" >
					</h:outputText>
				</span>
				
				<p:spacer height="10" width="10" rendered="#{not empty motion.description['myanmar']}"></p:spacer>
				<span class="FontAdamantiumBold Fs16 DispBlock Green"> 
					<h:outputText value="#{motion.description['myanmar']}" 
						rendered="#{not empty motion.description['myanmar']}" >
					</h:outputText>
				</span>


				<div class="EmptyBox30"></div>
				
				<div class="Wid40 Fleft DispBlock">
					<span class="FontAdamantiumBold Fs10 DispBlock MarBot10">House and Section</span>
					<h:outputText styleClass="FontAdamantiumBold Fs16 DispBlock Gray"
							value="#{motion.house}" converter="mmNumberConverter" />
					
					<h:outputText styleClass="FontAdamantiumBold Fs16 DispBlock Gray"
							value="#{motion.session}" converter="mmNumberConverter" />
							
					<div class="EmptyBox20"></div>

					<h:outputText value="Respondent" styleClass="FontAdamantiumBold Fs10 DispBlock MarBot10" 
						rendered="#{ not empty motion.respondent['name']}" />
					<h:outputText value="#{motion.respondent['name']}" 
						styleClass="FontAdamantiumBold Fs16 DispBlock Gray" 
						rendered="#{ not empty motion.respondent['name']}" />
					<h:outputText value="#{motion.respondent['position']}" 
						styleClass="FontAdamantiumBold Fs16 DispBlock Gray" 
						rendered="#{ not empty motion.respondent['name']}" />

				</div>

				<div class="Wid50 Fright DispBlock">
					<span class="FontAdamantiumBold Fs10 DispBlock MarBot10">Submitted Date</span>
					<h:outputText styleClass="FontAdamantiumBold Fs16 DispBlock Gray"
							value="#{motion.submittedDate}">
						<f:convertDateTime pattern="dd / MMM / yyyy"/>
					</h:outputText>
					
					<div class="EmptyBox20"></div>

					<h:outputText value="Response Date" styleClass="FontAdamantiumBold Fs10 DispBlock MarBot10" 
						rendered="#{ not empty motion.responseDate}" />
					<h:outputText styleClass="FontAdamantiumBold Fs16 DispBlock Gray"
							value="#{motion.responseDate}">
						<f:convertDateTime pattern="dd / MMM / yyyy"/>
					</h:outputText>

					<p:spacer styleClass="EmptyBox20" rendered="#{ not empty motion.responseDate}"></p:spacer>
					
					<span class="FontAdamantiumBold Fs10 DispBlock MarBot10">Status</span>
					<h:outputText styleClass="FontAdamantiumBold Fs16 DispBlock Gray"
							value="#{motion.status}" />

				</div>
			</div>
			</div>
			
		</ui:repeat>
	</composite:implementation>
</body>
</html>