<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface>
		<composite:attribute name="data" type="org.unitedprime.mps.model.Party" required="true" />
	</composite:interface>
	
	<composite:implementation>

		<div class="Card" id="partyID#{cc.attrs.data.id}">
			<input type="hidden" id="wsPartyId" value="#{cc.attrs.data.id}"/>
			<!-- Title -->
			<div class="CardTopic">
				<div class="Wid15 Fleft MarBot10">
					<p:graphicImage width="80px" url="#{cc.attrs.data.flag}" />
					<div class="EmptyBox10"></div>
				</div>
				<div class="MarTop10 Fleft FontMyanmar3Bold Fs24 Red"
					style="margin-left: 10px;">#{cc.attrs.data.name}</div>
				<div class="MarTop10 Fright Fs14 Gray Bold">
					<a id="policyDownload" target="_blank"
						href="#{cc.attrs.data.policy}">
						<i class="icon-download Bold" /> ပေါ်လစီ </a>
				</div>
				<div class="EmptyBox10"></div>
			</div>

			<div class="SeparatorFull"></div>

			<!-- Left Panel -->
			<div class="Wid30 TexAlRight Fleft Responsive100">
				<p:graphicImage url="#{cc.attrs.data.seal}" />

				<div class="EmptyBox20"></div>
				<span class="FontMyanmar3Bold Fs20 DispBlock Red"> <h:outputText
						value="#{cc.attrs.data.abbreviation}">
					</h:outputText>
				</span>

				<div class="EmptyBox20"></div>

				<span class="FontMyanmar3Bold Fs13 DispBlock MarBot10">ပါတီမှတ်ပုံတင်ခွင့်လျှောက်ထားသည့်နေ့</span>
				<span class="FontMyanmar3Bold Fs15 DispBlock Red"> <h:outputText
						value="#{cc.attrs.data.regDate}">
						<f:converter converterId="mmDateFormatter"></f:converter>
					</h:outputText>
				</span>

				<div class="EmptyBox20"></div>
				<span class="FontMyanmar3Bold Fs13 DispBlock MarBot10">ပါတီမှတ်ပုံတင်ခွင့်ပြုသည့်နေ့</span>
				<span class="FontMyanmar3Bold Fs15 DispBlock Red"> <h:outputText
						value="#{cc.attrs.data.regApproveDate}">
						<f:converter converterId="mmDateFormatter"></f:converter>
					</h:outputText>
				</span>

				<div class="EmptyBox20"></div>
				<span class="FontMyanmar3Bold Fs13 DispBlock MarBot10">ခွင့်ပြုသည့်ပါတီအမှတ်စဉ်</span>
				<span class="FontMyanmar3Bold Fs15 DispBlock Red"> <h:outputText
						value="#{cc.attrs.data.partyNumber}" />
				</span>

			</div>

			<!-- Right Panel -->
			<div class="Wid60 Fright Responsive100">
				<span class="FontMyanmar3Bold Fs13 DispBlock MarBot10"> <h:outputText
						value="ဥက္ကဌ" rendered="#{ not empty cc.attrs.data.chairmans}" />
				</span>

				<ui:repeat var="chairman" value="#{cc.attrs.data.chairmans}">
					<span class="FontMyanmar3Bold Fs15 DispBlock Red">#{chairman}</span>
				</ui:repeat>
				<div class="EmptyBox20"></div>

				<span class="FontMyanmar3Bold  Fs13 DispBlock MarBot10">ခေါင်းဆောင်နှင့်
					ဒုတိယခေါင်းဆောင်</span>
				<ui:repeat var="leader" value="#{cc.attrs.data.leaders}">
					<span class="FontMyanmar3Bold Fs15 DispBlock Red">#{leader}</span>
				</ui:repeat>
				<div class="EmptyBox20"></div>

				<span class="FontMyanmar3Bold Fs13 DispBlock MarBot10">ပါတီနယ်မြေ</span>
				<span class="FontMyanmar3Bold Fs15 DispBlock Red"> <h:outputText
						value="#{cc.attrs.data.region}" />
				</span>

				<div class="EmptyBox20"></div>
				<span class="FontMyanmar3Bold Fs13 DispBlock MarBot10">ပါတီရုံးချုပ်တည်နေရာ</span>
				<span class="FontMyanmar3Bold Fs15 DispBlock Red"> <h:outputText
						value="#{cc.attrs.data.headAddress}" />
				</span>

				<div class="EmptyBox20"></div>
				<span class="FontMyanmar3Bold Fs13 DispBlock MarBot10">ဆက်သွယ်ရန်</span>
				<span class="FontMyanmar3Bold Fs15 DispBlock Red"> <ui:repeat
						var="phone" value="#{cc.attrs.data.contacts}">
						<span class="FontMyanmar3Bold Fs15 DispBlock Red">#{phone}</span>
					</ui:repeat>
				</span>

			</div>
			<div class="EmptyBox20"></div>
			<div class="SeparatorFull"></div>

			<!-- Sub Title -->
			<span class="Fs20 FontMyanmar3Bold Orange ContainerIndent"><i
				class="fa fa-group Fs20 Orange"></i> ကိုယ်စားလှယ်လောင်းများ</span>

			<p:commandLink
				action="#{candidateBean.searchCandidateListByPartyLegislature()}">
				<f:param name="partyId" value="#{cc.attrs.data.id}" />
				<f:param name="legislature" value="အမျိုးသားလွှတ်တော်" />
				<div class="Container33 Responsive50">
					<div class="ContainerIndent">
						<div class="Card PinkBack Animated03 changecolor ">
							<div class="Fright DispInlBlock">
								<span class="Fs12 FontMyanmar3Bold SoftOrange ">အမျိုးသားလွှတ်တော်</span>
							</div>
							<div class="EmptyBox5"></div>
							<div class="Fright DispInlBlock">
								<span class="Fs30 FontMyanmar3Bold White"> <h:outputText
										value="#{cc.attrs.data.legistCount['အမျိုးသားလွှတ်တော်']}"
										converter="mmNumberConverter" />
								</span> <span class="Fs16 FontMyanmar3Bold WhiteBlue "> ဦး</span>
							</div>
						</div>
					</div>
				</div>
			</p:commandLink>
			<p:commandLink
				action="#{candidateBean.searchCandidateListByPartyLegislature()}">
				<f:param name="partyId" value="#{cc.attrs.data.id}" />
				<f:param name="legislature" value="ပြည်သူ့လွှတ်တော်" />
				<div class="Container33 Responsive50">
					<div class="ContainerIndent">
						<div class="Card RedBack Animated03 changecolor ">
							<div class="Fright DispInlBlock">
								<span class="Fs12 FontMyanmar3Bold Yellow ">ပြည်သူ့လွှတ်တော်</span>
							</div>
							<div class="EmptyBox5"></div>
							<div class="Fright DispInlBlock">
								<span class="Fs30 FontMyanmar3Bold White"> <h:outputText
										value="#{cc.attrs.data.legistCount['ပြည်သူ့လွှတ်တော်']}"
										converter="mmNumberConverter" />
								</span> <span class="Fs16 FontMyanmar3Bold WhiteBlue "> ဦး</span>
							</div>
						</div>
					</div>
				</div>
			</p:commandLink>
			<p:commandLink
				action="#{candidateBean.searchCandidateListByPartyLegislature()}">
				<f:param name="partyId" value="#{cc.attrs.data.id}" />
				<f:param name="legislature" value="တိုင်းဒေသကြီး/ပြည်နယ် လွှတ်တော်" />
				<div class="Container33 Responsive50">
					<div class="ContainerIndent">
						<div class="Card YellowBack Animated03 changecolor ">
							<div class="Fright DispInlBlock">
								<span class="Fs12 FontMyanmar3Bold Purple ">တိုင်းဒေသကြီး/ပြည်နယ်
									လွှတ်တော်</span>
							</div>
							<div class="EmptyBox5"></div>
							<div class="Fright DispInlBlock">
								<span class="Fs30 FontMyanmar3Bold White"> <h:outputText
										value="#{cc.attrs.data.legistCount['တိုင်းဒေသကြီး/ပြည်နယ် လွှတ်တော်']}"
										converter="mmNumberConverter" />
								</span> <span class="Fs16 FontMyanmar3Bold WhiteBlue "> ဦး</span>
							</div>
						</div>
					</div>
				</div>
			</p:commandLink>
			<div class="EmptyBox10"></div>

			<!-- Sub Title -->
			<span class="Fs20 FontMyanmar3Bold SoftBlue ContainerIndent"><i
				class="icon-eye Fs20 SoftBlue "></i> လာရောက်ကြည့်ရှု့သူအရေအတွက်</span>

			<div class="Container33 Responsive50">
				<div class="ContainerIndent">
					<div class="Card SoftOrangeBack Animated03 changecolor ">
						<div class="Fright DispInlBlock">
							<span class="Fs12 FontMyanmar3Bold Purple ">ပါတီအားကြည့်ရှု့သူများ</span>
						</div>
						<div class="EmptyBox5"></div>
						<div class="Fright DispInlBlock">
							<span class="Fs30 FontMyanmar3Bold White partyViewCount">
								<h:outputText value="#{cc.attrs.data.interestRate['PARTY']}"
									converter="mmNumberConverter" />
							</span> <span class="Fs16 FontMyanmar3Bold WhiteBlue "> ဦး</span>
						</div>
					</div>
				</div>
			</div>

			<div class="Container33 Responsive50">
				<div class="ContainerIndent">
					<div class="Card SoftPurpleBack Animated03 changecolor ">
						<div class="Fright DispInlBlock">
							<span class="Fs12 FontMyanmar3Bold WhiteBlue ">ပေါ်လစီအားကြည့်ရှု့သူများ</span>
						</div>
						<div class="EmptyBox5"></div>
						<div class="Fright DispInlBlock">
							<span class="Fs30 FontMyanmar3Bold White policyDownloadCount">
								<h:outputText value="#{cc.attrs.data.interestRate['POLICY']}"
									converter="mmNumberConverter" />
							</span> <span class="Fs16 FontMyanmar3Bold WhiteBlue "> ဦး</span>
						</div>
					</div>
				</div>
			</div>

			<div class="Container33 Responsive50">
				<div class="ContainerIndent">
					<div class="Card Animated03 changecolor PurpleBack">
						<div class="Fright DispInlBlock">
							<span class="Fs12 FontMyanmar3Bold SoftOrange ">ကိုယ်စားလှယ်လောင်းအားကြည့်ရှု့သူများ</span>
						</div>
						<div class="EmptyBox5"></div>
						<div class="Fright DispInlBlock">
							<span class="Fs30 FontMyanmar3Bold White candidateViewCount">
								<h:outputText
									value="#{cc.attrs.data.interestRate['CANDIDATE']}"
									converter="mmNumberConverter" />
							</span> <span class="Fs16 FontMyanmar3Bold WhiteBlue "> ဦး</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</composite:implementation>
</body>
</html>