<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Party List Item</title>
</head>
<body>
	<composite:interface>
		<composite:attribute name="data" required="true"
			type="org.unitedprime.mps.model.Party" />
	</composite:interface>
	<composite:implementation>
		<div class="Card  HoverEffect">
			<div class="CardTopic">
				<p:commandLink style="font-size:15px"
					action="#{partyBean.navigateToPartyDetail()}">
					<f:param name="partyId" value="#{party.id}" />
					#{cc.attrs.data.name}
				</p:commandLink>
			</div>
			<div class="SeparatorFull"></div>

			<div class="Wid40 TexAlCenter Fleft">
				<p:graphicImage styleClass="Container100"
					url="#{cc.attrs.data.flag}" />
				<span class="FontMyanmar3Bold Fs12 DispBlock MarBot10"> <h:outputText
						value="ဥက္ကဌ" rendered="#{ not empty cc.attrs.data.chairmans}" />
				</span>

				<ui:repeat var="chairman" value="#{cc.attrs.data.chairmans}">
					<span class="FontMyanmar3Bold Fs14 DispBlock Blue">#{chairman}</span>
				</ui:repeat>
			</div>

			<div class="Wid50 Fright">
				<span class="FontMyanmar3Bold Fs12 DispBlock MarBot10">ပြည်သူ့လွှတ်တော်</span>
				<span class="FontMyanmar3Bold Fs20 DispBlock Red"> <h:outputText
						value="#{cc.attrs.data.legistCount['ပြည်သူ့လွှတ်တော်']}"
						converter="mmNumberConverter" />
				</span>
				<div class="EmptyBox20"></div>
				<span class="FontMyanmar3Bold Fs12 DispBlock MarBot10">အမျိုးသားလွှတ်တော်</span>
				<span class="FontMyanmar3Bold Fs20 DispBlock Red"> <h:outputText
						value="#{cc.attrs.data.legistCount['အမျိုးသားလွှတ်တော်']}"
						converter="mmNumberConverter" />
				</span>
				<div class="EmptyBox20"></div>
				<span class="FontMyanmar3Bold Fs12 DispBlock MarBot10">တိုင်းဒေသကြီး/ပြည်နယ်
					လွှတ်တော်</span> <span class="FontMyanmar3Bold Fs20 DispBlock Red">
					<h:outputText
						value="#{cc.attrs.data.legistCount['တိုင်းဒေသကြီး/ပြည်နယ် လွှတ်တော်']}"
						converter="mmNumberConverter" />
				</span>
			</div>
			<div class="EmptyBox10"></div>
			<div class="SeparatorFull"></div>
			<div class="TexAlRight" id="partyID#{cc.attrs.data.id}" >
				<i class="icon-book Fs16 Gray "></i> <span
					class="FontMyanmar3Bold Fs12 Gray " style="padding-left: 5px;">
					<h:outputText value="#{cc.attrs.data.interestRate['PARTY']}" converter="mmNumberConverter" styleClass="partyViewCount"/>
					</span>
				<i class="icon-user Fs16 Gray" style="padding-left: 10px;"></i> <span
					class="FontMyanmar3Bold Fs12 Gray " style="padding-left: 5px;">
					<h:outputText value="#{cc.attrs.data.interestRate['CANDIDATE']}" converter="mmNumberConverter" styleClass="candidateViewCount"/>
					</span>
				<i class="icon-download Fs16 Gray" style="padding-left: 10px;"></i>
				<span class="FontMyanmar3Bold Fs12 Gray " style="padding-left: 5px;">
				<h:outputText value="#{cc.attrs.data.interestRate['POLICY']}" converter="mmNumberConverter" styleClass="policyDownloadCount" />
				</span>
			</div>
		</div>
	</composite:implementation>
</body>
</html>