<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
<composite:interface>
	<composite:attribute name="questions" type="java.util.List" required="true" />
</composite:interface>

<composite:implementation>


		<ui:repeat var="question" value="#{cc.attrs.questions}">
			<div class="ContainerIndent">
				<div class="Card WhiteBlueBack ">
				<div class="Fleft Fs24 FontAdamantiumBold DispBlock Purple Fleft Wid60" style="margin-top: -10px; margin-bottom: 10px;">
					<h:outputText value="#{question.issue}" />
				</div>

				<div class="SeparatorFull"></div>

				<span class="FontAdamantiumBold Fs16 DispBlock BoldGray"> 
					<h:outputText value="#{question.description['english']}" 
						rendered="#{not empty question.description['english']}" >
					</h:outputText>
				</span>
				
				<p:spacer height="10" width="10" rendered="#{not empty question.description['myanmar']}"></p:spacer>
				<span class="FontAdamantiumBold Fs16 DispBlock Green"> 
					<h:outputText value="#{question.description['myanmar']}" 
						rendered="#{not empty question.description['myanmar']}" >
					</h:outputText>
				</span>


				<div class="EmptyBox30"></div>
				
				<div class="Wid40 Fleft DispBlock">
					<span class="FontAdamantiumBold Fs10 DispBlock MarBot10">House and Section</span>
					<h:outputText styleClass="FontAdamantiumBold Fs16 DispBlock Gray"
							value="#{question.house}" converter="mmNumberConverter" />
					
					<h:outputText styleClass="FontAdamantiumBold Fs16 DispBlock Gray"
							value="#{question.session}" converter="mmNumberConverter" />
							
					<div class="EmptyBox20"></div>

					<h:outputText value="Respondent" styleClass="FontAdamantiumBold Fs10 DispBlock MarBot10" 
						rendered="#{ not empty question.respondent['name']}" />
					<h:outputText value="#{question.respondent['name']}" 
						styleClass="FontAdamantiumBold Fs16 DispBlock Gray" 
						rendered="#{ not empty question.respondent['name']}" />
					<h:outputText value="#{question.respondent['position']}" 
						styleClass="FontAdamantiumBold Fs16 DispBlock Gray" 
						rendered="#{ not empty question.respondent['name']}" />

				</div>

				<div class="Wid50 Fright DispBlock">
					<span class="FontAdamantiumBold Fs10 DispBlock MarBot10">Date</span>
					<h:outputText styleClass="FontAdamantiumBold Fs16 DispBlock Gray"
							value="#{question.date}">
						<f:convertDateTime pattern="dd / MMM / yyyy"/>
					</h:outputText>
					

					<p:spacer styleClass="EmptyBox20" rendered="#{ not empty question.purpose}"></p:spacer>
					
					<span class="FontAdamantiumBold Fs10 DispBlock MarBot10">Status</span>
					<h:outputText styleClass="FontAdamantiumBold Fs16 DispBlock Gray"
							value="#{question.purpose}" />

				</div>
			</div>
			</div>
		</ui:repeat>

</composite:implementation>
</body>
</html>