<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../template/common.xhtml">
	<ui:define name="content">
		<div class="ContainerIndent">
			<div class="Card">
				<div class="CardTopic LeadenGreen Fs16">
					<i class="fa fa-book Fs30 Fleft MarRight10" style="position: relative; bottom: 8px"></i>
					<p:link target="_blank"
						href="https://drive.google.com/open?id=0B0mSWwt3M9rpMzQtcHZHVmJLQWM">
						<button
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fright BlueButton HoverEffect"
							type="button" role="button" aria-disabled="false">
							<span class="ui-button-icon-left ui-icon ui-c fa  fa-download"></span><span
								class="ui-button-text ui-c">Download</span>
						</button>
					</p:link>
					ပြည်ထောင်စုရွေးကောက်ပွဲကော်မရှင် မဟာဗျူဟာစီမံကိန်း <br /> <br />
					<span class="TexAlJustify CardSubTopic Fs13">
					<br /><i>"...စစ်မှန်ခိုင်မာသောဒီမိုကရေစီစနစ်တည်ဆောက်နိုင်ရေးအတွက် ရွေးကောက်ပွဲများကို<br /><br />
					 လွတ်လပ်၍တရားမျှတပြီး တူညီသောအခွင့်အရေးဖြင့်ဘက်လိုက်ခြင်းမရှိဘဲ ပွင့်လင်းမြင်သာစွာ<br /><br />
					ကျင်းပပေးခြင်းဖြင့်အများယုံကြည်လက်ခံလာစေရန်..."</i></span>
				</div>
			</div>
			<div class="Card MarTop5">
				<div class="TexAlJustify CardTopic LeadenGreen Fs16">
					<i class="fa fa-book Fs30 Fleft MarRight10" style="position: relative; bottom: 8px"></i>
					<p:link target="_blank"
						href="https://drive.google.com/open?id=0B0mSWwt3M9rpNjBGQjlmZDhNa1E">
						<button
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fright BlueButton HoverEffect"
							type="button" role="button" aria-disabled="false">
							<span class="ui-button-icon-left ui-icon ui-c fa  fa-download"></span><span
								class="ui-button-text ui-c">Download</span>
						</button>
					</p:link>
					ပြည်ထောင်စုရွေးကောက်ပွဲကော်မရှင် ဥပဒေ <br /> <br /> <span
						class="TexAlJustify CardSubTopic Fs13">
						<br /><i>"...ပြည်ထောင်စုသမ္မတမြန်မာနိုင်ငံတော်၏နိုင်ငံသားတိုင်းသည် လွှတ်တော်များသို့ရွေးကောက်တင်မြောက်ခွင့်နှင့် <br /><br />
							ရွေးကောက်တင်မြောက်ခံပိုင်ခွင့်တို့ကိုကျင့်သုံးရာတွင် ကြီးကြပ်ပေးရန်နှင့် နိုင်ငံရေးပါတီများကိုလည်း<br /><br />
							ကြီးကြပ်ပေးနိုင်ရန် ပြည်ထောင်စုရွေးကောက်ပွဲကော်မရှင်တစ်ရပ်ဖွဲ့စည်းနိုင်ရေးနှင့် တာ၀န်နှင့်လုပ်ပိုင်ခွင့်များ<br /><br />
							 သတ်မှတ်နိုင်ရေးတို့အတွက် ပြည်ထောင်စုလွှတ်တော်သည် ပြည်ထောင်စု သမ္မတမြန်မာနိုင်ငံတော်<br /><br />
							ဖွဲ့စည်းပုံအခြေခံဥပဒေပုဒ်မ ၃၉၈ပုဒ်မခွဲ(က)နှင့် ပုဒ်မ၄၀၃တို့နှင့် ဥပဒေကိုပြဌန်းလိုက်သည်။...."</i> </span>
				</div>
			</div>
			<div class="Card MarTop5">
				<div class="TexAlJustify CardTopic LeadenGreen Fs16">
					<i class="fa fa-book Fs30 Fleft MarRight10" style="position: relative; bottom: 8px"></i>
					<p:link target="_blank"
						href="https://drive.google.com/open?id=0B0mSWwt3M9rpV0dMMVN3ZWszb1E">
						<button
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fright BlueButton HoverEffect"
							type="button" role="button" aria-disabled="false">
							<span class="ui-button-icon-left ui-icon ui-c fa  fa-download"></span><span
								class="ui-button-text ui-c">Download</span>
						</button>
					</p:link>
					တစ်နိုင်ငံလုံး မဲဆန္ဒရှင်စာရင်း ကြေငြာခြင်းဆိုင်ရာများ<br /> <br />
					<span class="TexAlJustify CardSubTopic Fs13">
					<br /><i>"...အများယုံကြည်လက်ခံသော၊ အားလုံးပါ၀င်သော၊ ပွင့်လင်းမြင်သာသောရွေးကောက်ပွဲများကျင်းပရာတွင်<br /><br />
							အရေးပါသော အဓိကအချက်မှာ မဲပေးပိုင်ခွင့်ရှိသူ မဲဆန္ဒရှင်အားလုံးသည် ရွေးကောက်ပွဲတစ်ခုစီအတွက် မဲတစ်မဲစီ<br /><br />
							ပေးခွင့်ရှိရေးပင်ဖြစ်သည်။ထိုသို့ဆောင်ရွက်နိုင်ရန်အားလုံးပါ၀င်သော၊ တိကျမှန်ကန်သော မဲစာရင်းကို<br /><br /> ပြုစုရန်မရှိမဖြစ်လိုအပ်ပါသည်။..."</i></span>
				</div>
			</div>
			<div class="Card MarTop5">
				<div class="CardTopic LeadenGreen Fs16">
					<i class="fa fa-book Fs30 Fleft MarRight10" style="position: relative; bottom: 8px"></i>
					<p:link target="_blank"
						href="https://drive.google.com/open?id=0B0mSWwt3M9rpVVdLMVpURXpCZlU">
						<button
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fright BlueButton HoverEffect"
							type="button" role="button" aria-disabled="false">
							<span class="ui-button-icon-left ui-icon ui-c fa  fa-download"></span><span
								class="ui-button-text ui-c">Download</span>
						</button>
					</p:link>
					ရွေးကောက်ပွဲဆိုင်ရာ အငြင်းပွားမှုများဖြေရှင်းခြင်း လုပ်ငန်းဆိုင်ရာ
					သိမှတ်ဖွယ်ရာများ <br /> <br /> <span class="TexAlJustify CardSubTopic Fs13">
					<br /><i>"...လာမည့်ရွေးကောက်ပွဲများတွင် မဲဆန္ဒရှင်များအပေါ် ခြိမ်းခြောက်အကြပ်ကိုင်ခြင်း အလားအလာ၊ <br /><br />
						တရားမ၀င် မဲဆွယ်စည်းရုံးမှု လုပ်ငန်းစဥ်များ၊ ဆန္ဒမဲပေးခြင်းအား နှောင့်ယှက်ခြင်းနှင့်မဲရေတွက်ခြင်းလုပ်ငန်းစဥ် <br /><br />
						 အစရှိသည့်ကိစ္စရပ်များကို ကိုင်တွယ်ဖြေရှင်းရန်အတွက် ရွေးကောက်ပွဲအငြင်းပွားမှုကို ပစ်မှတ်ထား ဖြေရှင်းရန်<br /><br />
						လွန်စွာအရေးပါလှပါသည်။..."</i> </span>
				</div>
			</div>
			<div class="Card MarTop5">
				<div class="CardTopic LeadenGreen Fs16">
					<i class="fa fa-book Fs30 Fleft MarRight10" style="position: relative; bottom: 8px"></i>
					<p:link target="_blank"
						href="https://drive.google.com/open?id=0B0mSWwt3M9rpWU9UdmVVdkRjM0E">
						<button
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fright BlueButton HoverEffect"
							type="button" role="button" aria-disabled="false">
							<span class="ui-button-icon-left ui-icon ui-c fa  fa-download"></span><span
								class="ui-button-text ui-c">Download</span>
						</button>
					</p:link>
					မဲစာရင်းပါအမည် ရွှေ့ပြောင်းခြင်းဆိုင်ရာ အမေးအဖြေများ <br /> <br />
					<span class="TexAlJustify CardSubTopic Fs13" style="position: relative; bottom: 8px">
					<br /><i>"...ကျွန်တော့် အိမ်ထောင်စုစာရင်းမှာ ကျွန်တော့် နာမည်မပါလျှင် ကျွန်တော့်အမည်မဲစာရင်းမှာပါနိုင်သလား။
							<br /><br /><br />
							မပါနိုင်ပါ။<br /><br />
							မဲစာရင်းတွင် ပါ၀င်လိုသော သူတစ်ဦးသည် ရပ်ကွက်/ကျေးရွာအုပ်စုတွင် အမြဲနေထိုင်သူဖြစ်ရန် -ဥပေဒအရ လိုအပ်ချက်ဖြစ်သည်။<br /><br /> 
							အကယ်၍ သင်သည် အမှန်တကယ် နေထိုင်သူဟု သိရှိလျှင် သို့မဟုတ် မှတ်ပုံတင်တွင် သင်၏လိပ်စာပါရှိလျှင်<br /><br /> 
							သို့မဟုတ် သင်ယခင်နေထိုင်ခဲ့သော ရပ်ကွက်/ကျေးရွာအုပ်စုကထုတ်ပေးသည့် သင်ပြောင်းရွှေ့နေထိုင် ကြောင်း<br /><br /> 
							 ပုံစံ ၄-ခ ရှိလျှင် ရပ်ကွက်/ ကျေးရွာအုပ်စု ကော်မရှင်အဖွဲ့ခွဲက သင့်အမည်ကို မဲစာရင်းတွင်<br /><br /> 
							ထည့်သွင်းပေးနိုင်သည်။..."</i> </span>
				</div>
			</div>
			<div class="Card MarTop5">
				<div class="CardTopic LeadenGreen Fs16">
					<i class="fa fa-book Fs30 Fleft MarRight10" style="position: relative; bottom: 8px"></i>
					<p:link target="_blank"
						href="https://drive.google.com/open?id=0B0mSWwt3M9rpcDQxU2x6clczZ1E">
						<button
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fright BlueButton HoverEffect"
							type="button" role="button" aria-disabled="false">
							<span class="ui-button-icon-left ui-icon ui-c fa  fa-download"></span><span
								class="ui-button-text ui-c">Download</span>
						</button>
					</p:link>
					ကိုယ်စားလှယ်လောင်းအမည်စာရင်းတင်သွင်းရာတွင်
					ကန့်ကွက်ခြင်းနှင့်အယူခံခြင်း နည်းစနစ်များ <br /> <br /> <span
						class="TexAlJustify CardSubTopic Fs13">
						<br /><i>"...ကိုယ်စားလှယ်လောင်းတစ်ဦး၊ သို့မဟုတ် ကိုယ်စားလှယ်ေလောင်း၏  ရွေးကောက်ပွဲ ကိုယ်စားလှယ်သည်<br /><br />
							ကိုယ်စားလှယ်လောင်းတစ်ဥှီး၏  အရည်အချင်းပြည့်မီသူ သို့မဟုတ် သတ်မှတ်ချက် မပြည့်မီသူဖြစ်ကြောင်း အဆိုပြုသည့်<br /><br />
							စာတစ်စောင်ဖြစ်သည်။..."</i></span>
				</div>
			</div>
			<div class="Card MarTop5">
				<div class="CardTopic LeadenGreen Fs16">
					<i class="fa fa-book Fs30 Fleft MarRight10" style="position: relative; bottom: 8px"></i>
					<p:link target="_blank"
						href="https://drive.google.com/open?id=0B0mSWwt3M9rpak82RUxYUE5CUnc">
						<button
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fright BlueButton HoverEffect"
							type="button" role="button" aria-disabled="false">
							<span class="ui-button-icon-left ui-icon ui-c fa  fa-download"></span><span
								class="ui-button-text ui-c">Download</span>
						</button>
					</p:link>
					ပြည်ထောင်စုရွေးကောက်ပွဲကော်မရှင် ကျား/မ ညီမျှရေးမူဝါဒ စာတမ်း<br />
					<br /> <span class="CardSubTopic Fs13">
					<br /><i>"....."နိုင်ငံသားတိုင်းသည် လူမျိုး၊ ကိုးကွယ်ရာဘာသာ၊ အဆင့်အတန်း၊ အမျိုးသား/အမျိုးသမီးမရွေး တရားဥပဒေအရ<br /><br /> 
							 တန်းတူအခွင့်အရေးရှိသည်" ဟူသည့် ပြည်ထောင်စုသမ္မတမြန်မာနိုင်ငံတော် ၏ အခြေခံဥပဒေ ပုဒ်မ ၂၂ နှင့် ၁၉၉၇ ခုနှစ်ကတည်းက<br /><br />
							 မြန်မာနိုင်ငံက ပါ၀င်လက်မှတ်ရေးထိုးခဲ့သည့် အမျိုးသမီးများအပေါ် နည်းမျိုးစုံဖြင့်ခွဲခြားဆက်ဆံမှုပပျောက်ရေး<br /><br />
							ကွန်ဗန်းရှင်းသဘောတူညီချက်(CEDAW)တို့အရ  ရွေးကောက်ပွဲလုပ်ငန်းစဥ်တွင်အမျိုးသားနှင့်<br /><br />
							အမျိုးသမီးအပြည့်အ၀ပါ၀င်ရေးမှာ အရေးကြီးပေသည်။....."</i></span>
				</div>
			</div>
			<div class="Card MarTop5">
				<div class="CardTopic LeadenGreen Fs16">
					<i class="fa fa-book Fs30 Fleft MarRight10" style="position: relative; bottom: 8px"></i>
					<p:link target="_blank"
						href="https://drive.google.com/open?id=0B0mSWwt3M9rpLTB0bnVzSG5HQ1U">
						<button
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fright BlueButton HoverEffect"
							type="button" role="button" aria-disabled="false">
							<span class="ui-button-icon-left ui-icon ui-c fa  fa-download"></span><span
								class="ui-button-text ui-c">Download</span>
						</button>
					</p:link>
					ပယ်မဲမဖြစ်ရေး<br /> <br /> <span class="TexAlJustify CardSubTopic Fs13">
					<br /><i>"...၂၀၁၅ ခုနှစ် နို၀င်ဘာလ ၈ရက်နေ့တွင် ကျင်းပတော့မည့်အထွေထွေရွေးကောက်ပွဲတွင် မဲဆန္ဒပေးပိုင်ခွင့်<br /><br />
							ရှိသူတိုင်း ဆန္ဒမဲပေးရန် အရေးကြီးသကဲ့သို့  မိမိပေးလိုက်သောမဲများသည်လည်း ပယ်မဲမဖြစ်စေရန်ပို<br /><br />
							၍ပင်အရေးကြီးပါသည်။..."</i></span>
				</div>
			</div>
			<div class="Card MarTop5">
				<div class="CardTopic LeadenGreen Fs16">
					<i class="fa fa-book Fs30 Fleft MarRight10" style="position: relative; bottom: 8px"></i>
					<p:link target="_blank"
						href="https://drive.google.com/open?id=0B0mSWwt3M9rpMjVSSTBPRktjeWM">
						<button
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fright BlueButton HoverEffect"
							type="button" role="button" aria-disabled="false">
							<span class="ui-button-icon-left ui-icon ui-c fa  fa-download"></span><span
								class="ui-button-text ui-c">Download</span>
						</button>
					</p:link>
					မဲရုံမှူး ၊ ဒုတိယမဲရုံမှူး နှင့် မဲရုံအဖွဲ့ဝင်လုပ်ငန်း လမ်းညွှန် <br />
					<br /> <span class="TexAlJustify CardSubTopic Fs13">
					<br /><i>"...ရွေးကောက်ပွဲများကျင်းပသည့်အခါ အရေးကြီးသည့် အခန်းကဏ္ဍမှပါ၀င်ရမည့် မဲရုံမှူး၊ ဒုတိယမဲရုံမှူး၊ မဲစာရင်းစစ်ဆေးသူ၊ 	<br /><br />
							ဆန္ဒမဲထုတ်ပေးသူနှင့်မဲရုံလုံခြုံရေး အစရှိသည့် မဲရုံအဖွဲ့ ၀င်များကတာ၀န်ယူဆောင်ရွက်ရမည့် လုပ်ငန်းများကို<br /><br />
							သက်ဆိုင်ရာလွှတ်တော် ရွေးကောက်ပွဲ ဥပဒေ၊ နည်းဥပဒေများ၊ ညွှန်ကြားချက်များနှင့်အညီ ရှင်းလင်းပြတ်သားစွာ<br /><br />
							သိရှိနားလည်ဆောင်ရွက်နိုင်ကြစေရန် ကော်မရှင်သည် ဤလုပ်ငန်းလမ်းညွှန်ကို ထုတ်ပြန်လိုက်သည်။..."
							</i></span>
				</div>
			</div>
			<div class="Card MarTop5">
				<div class="CardTopic LeadenGreen Fs16">
					<i class="fa fa-book Fs30 Fleft MarRight10" style="position: relative; bottom: 8px"></i>
					<p:link target="_blank"
						href="https://drive.google.com/open?id=0B0mSWwt3M9rpX05ZeHB5UDA2bTA">
						<button
							class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fright BlueButton HoverEffect"
							type="button" role="button" aria-disabled="false">
							<span class="ui-button-icon-left ui-icon ui-c fa  fa-download"></span><span
								class="ui-button-text ui-c">Download</span>
						</button>
					</p:link>
					အမျိုးသားလွှတ်တော် မဲဆန္ဒနယ်များစာရင်း <br /> <br /> <span
						class="TexAlJustify CardSubTopic Fs13">
						<br /><i>"...၂၀၁၅ ခုနှစ်၊ ပါတီစုံဒီမိုကရေစီအထွေထွေရွေးကောက်ပွဲအတွက် သတ်မှတ်ထားသည့်
							အမျိုးသားလွှတ်တော် မဲဆန္ဒနယ်များ..."</i></span>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>