<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="../template/common.xhtml">
		<ui:define name="content">
			<div class="ContainerIndent">
				<div class="Card">
					<div class="CardTopic LeadenGreen Fs18 TexAlCenter">
						ပြည်ထောင်စု ရွေးကောက်ပွဲ ကော်မရှင် ဥက္ကဋ္ဌ၏ အမှာစကား 
					</div>
					<div class="Separator"/>
					<div class="Fright">
							<h:graphicImage value="/resources/base/images/chairspeech.gif" style="padding: 0px 0px 15px 20px;margin: 0px 0px 10px 0px;"/>
					</div>
					<div class="Fs14">
						<p style="text-align: justify;text-indent: 5em;">
							ပြည်ထောင်စု ရွေးကောက်ပွဲ ကော်မရှင် အနေဖြင့် ရွေးကောက်ပွဲများအား တာဝန်ယူ ကျင်းပရာတွင် လွတ်လပ်၍ တရားမျှတသော ရွေးကောက်ပွဲများ ဖြစ်အောင် ဆောင်ရွက် သွားမည် ဖြစ်ပါသည်။ ထိုသို့ လွတ်လပ်၍ တရားမျှတသော ရွေးကောက်ပွဲများ ဖြစ်အောင် ဆောင်ရွက်ရာ၌ ပြည်ထောင်စု ရွေးကောက်ပွဲ ကော်မရှင် အနေဖြင့် ပြည်သူလူထု၊ နိုင်ငံရေး ပါတီများ၊ လူမှုအဖွဲ့အစည်းများ၊ မီဒီယာများ၏ စွမ်းအားများကို ရယူ ပူးပေါင်း ဆောင်ရွက်မှသာ အောင်မြင်မှု ရလဒ်ကောင်းကို ရရှိမည် ဖြစ်ပါသည်။ ကော်မရှင်နှင့် ကော်မရှင် အဖွဲ့ခွဲများ၊ နိုင်ငံရေး ပါတီများ၊ လူမှု အဖွဲ့အစည်းများ၊ မီဒီယာများနှင့် ပြည်သူ လူထု အနေဖြင့် တရားမျှတစွာ ရွေးကောက်ပွဲတွင် ပါဝင် ဆောင်ရွက်နိုင်ရေးအတွက် ရွေးကောက်ပွဲ ဆိုင်ရာ ဥပဒေ၊ နည်းဥပဒေများ၊ လုပ်ငန်း လမ်းညွှန်များ၊ အမိန့်နှင့် ညွှန်ကြားချက် များကို သေသေချာချာ ဂဃနဏ သိရှိ နားလည်ထားရန် လိုအပ်ပြီး လိုက်နာကျင့်သုံး ဆောင်ရွက်ကြရန်လည်း လိုအပ်လှပေသည်။
						</p>
						<p style="text-align: justify;text-indent: 5em;">
							သို့မှသာ တစ်ဦးနှင့် တစ်ဦး ၊ တစ်ဖွဲ့နှင့် တစ်ဖွဲ့ အပြန်အလှန် ထိန်းညှိမှု (check and balance)လုပ်ဆောင် နိုင်မည် ဖြစ်ပါသည်။ ထိုသို့ အပြန်အလှန် ထိန်းညှိမှု ( check and balance) ရှိမှသာ ပြဌာန်းထားသော ဥပဒေ၊ နည်းဥပဒေများ၊ လုပ်ထုံး လုပ်နည်းများ နှင့်အညီ ပွင့်လင်း မြင်သာစွာ ပူးပေါင်း ဆောင်ရွက် နိုင်ကြမည် ဖြစ်ပါသည်။ ဥပဒေ နှင့်အညီ ဆောင်ရွက်ကြမှ သာလျှင် တရား၍ မျှတသော ရွေးကောက်ပွဲ ဖြစ်လာပေမည်။
						</p>
						<p style="text-align: justify;text-indent: 5em;">
							နိုင်ငံတော် အချုပ်အခြာ အာဏာ၏ ခက်မသုံးဖြာ ဖြစ်သည့် ဥပဒေပြုရေး အာဏာ၊ အုပ်ချုပ်ရေး အာဏာနှင့် တရားစီရင်ရေး အာဏာတို့ကို အကောင်အထည် ဖော်ဆောင်ရွက် ကြသည့် ပုဂ္ဂိုလ်များမှာ လွှတ်တော် ကိုယ်စားလှယ်များ ဖြစ်ကြပေသည်။ ၎င်းလွှတ်တော် ကိုယ်စားလှယ် များအား ပြည်သူလူထုမှ ရွေးကောက် တင်မြှောက်ကြရသည်။ ထိုသို့ ရွေးကောက် တင်မြှောက်ရာ၌ နိုင်ငံ၏အကျိုးကို အမှန်တကယ် သယ်ပိုး ထမ်းရွက်နိုင်သည့် အရည်အချင်း ပြည့်ဝသော လူတော် လူကောင်းများအား ရွေးချယ် တင်မြှောက်ရေးမှာ အထူးပင် အရေးကြီး လှပေသည်။ ထိုသို့ မှန်မှန်ကန်ကန် ရွေးချယ် တတ်စေရန်လည်း မျှတ၍ ဘက်လိုက်မှု့ မရှိသော မီဒီယာများက ပူးပေါင်း ပါဝင် ဆောင်ရွက်ကြရန် လိုအပ်ပေသည်။
						</p>
						<p style="text-align: justify;text-indent: 5em;">
							ကော်မရှင် အနေဖြင့် ၂၀၁၅ ခုနှစ်၊ ပါတီစုံ ဒီမိုကရေစီ အထွေထွေ ရွေးကောက်ပွဲ အပါ အဝင် နောင်ကျင်းပမည့် ရွေးကောက်ပွဲများအား လွတ်လပ်၍ တရားမျှတသော ရွေးကောက်ပွဲများ အဖြစ် ကျင်းပပေး နိုင်ရေးအတွက် မဟာဗျူဟာ စီမံကိန်း ချမှတ် ဆောင်ရွက်လျက် ရှိပါသည်။ ထိုလုပ်ငန်းစဉ်များအား အောင်မြင်စွာ အကောင်အထည် ဖော်နိုင်ရေးအတွက် နိုင်ငံရေး ပါတီများ၊ လူမှု အဖွဲ့အစည်းများ၊ မီဒီယာများနှင့် ပြည်သူ လူထု အနေဖြင့် ကော်မရှင်နှင့် ပူးပေါင်း ပါဝင် ဆောင်ရွက် သွားစေလိုပါကြောင်း ဆန္ဒပြုအပ်ပါသည်။
						</p>
					</div>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</html>