<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../template/common.xhtml">

	<ui:define name="content">
		<div class="ContainerIndent">
			<h:form>
				<p:tabView>
					<p:tab title="အခြေခံသိမှတ်စရာ">
						<div class="Fs14 MarRight20">
							<p style="text-align: justify;margin-left: 20px;">
								ဆန္ဒမဲပေးသူများ  အခြေခံအားဖြင့် သိသင့်သိထိုက်သည့်အချက်များမှာ အောက်ပါအတိုင်းဖြစ်သည်-
							<ul style="text-align: justify; margin-left: -20px">
								<li>(၁)တပ်မတော်သား လွှတ်တော် ကိုယ်စားလှယ်များ မှအပ
									လွှတ်တော် ကိုယ်စားလှယ်များကို သက်ဆိုင်ရာ မဲဆန္ဒနယ်များတွင်
									နေထိုင်ကြသော ဆန္ဒမဲ ပေးပိုင်ခွင့်ရှိသူများက လျှို့ဝှက်
									ဆန္ဒမဲဖြင့် တိုက်ရိုက် ရွေးကောက် တင်မြှောက်ရမည်။</li>
								<br />
								<li>(၂)ဆန္ဒမဲ ပေးပိုင်ခွင့်ရှိသူ တစ်ဦးသည် ရွေးကောက်ပွဲတွင်
									ပြည်သူ့လွှတ်တော်၊ အမျိုးသား လွှတ်တော်၊ တိုင်းဒေသကြီးလွှတ်တော်
									သို့မဟုတ် ပြည်နယ် လွှတ်တော် များသို့ မဲဆန္ဒနယ် အလိုက်
									ရွေးကောက်ခံသော လွှတ်တော် ကိုယ်စားလှယ်လောင်းများ အနက် မိမိဆန္ဒ
									ပြုလိုသော သက်ဆိုင်ရာ လွှတ်တော် ကိုယ်စားလှယ်လောင်း တစ်ဦးစီ
									ကိုလည်းကောင်း၊ ဥပဒေနှင့် အညီ တိုင်းရင်းသား လူမျိုးရေးရာ
									လွှတ်တော် ကိုယ်စားလှယ် ရွေးကောက် တင်မြှောက်ခွင့် ရှိလျှင်
									ထိုလွှတ်တော် ကိုယ်စားလှယ်လောင်း အတွက် လည်းကောင်း ဆန္ဒမဲ
									တစ်မဲစီကို ပေးခွင့်ရှိသည်။ လွှတ်တော် ကိုယ်စားလှယ်လောင်း တစ်ဦးစီ
									အတွက် တစ်ကြိမ်ထက် ပို၍ ဆန္ဒမဲ ပေးခွင့် မရှိစေရ။</li>
								<br />
								<li>(၃)ဆန္ဒမဲ စတင်ပေးသည့် အချိန်မှ ဆန္ဒမဲ ပေးခြင်း
									ပြီးဆုံးသည့် အချိန်အတွင်း မဲရုံထဲသို့ အောက်ပါ ပုဂ္ဂိုလ်များမှ
									တစ်ပါး အခြားမည်သူမျှ မဝင်ရ-
									<ul style="text-align: justify;">
										<li>(က)မဲရုံ အဖွဲ့ဝင်များ၊</li>
										<br />
										<li>(ခ)ဆန္ဒမဲ ပေးမည့်သူများ၊</li>
										<br />
										<li>(ဂ)တာဝန်ကျ ရဲတပ်ဖွဲ့ဝင်များ သို့မဟုတ် ရပ်ကွက်
											သို့မဟုတ် ကျေးရွာ အုပ်စု ရွေးကောက်ပွဲ ကော်မရှင်အဖွဲ့ခွဲက
											လုံခြုံရေး တာဝန်ပေးအပ် ခံရသူများ၊</li>
										<br />
										<li>(ဃ)ဆန္ဒမဲပေးသူသည် ဆန္ဒမဲလက်မှတ်ရှိ အမည်များကို မဖတ်
											တတ်လျှင် သို့မဟုတ် ညွှန်ကြားထားသည့် အတိုင်း ဆန္ဒမဲ
											မပေးတတ်လျှင် လည်းကောင်း၊ မျက်မမြင် ဖြစ်လျှင် လည်းကောင်း
											ဆန္ဒမဲပေးသူက ညွှန်ကြားသည့်အတိုင်း ကူညီဆောင်ရွက်ပေးမည့်
											သက်ဆိုင်ရာ မဲစာရင်း၌ ပါရှိသော မဲဆန္ဒရှင်၏ ဖခင်၊ မိခင်၊ ဇနီး၊
											ခင်ပွန်း၊ သား၊ သမီး၊ ညီအစ်ကို မောင်နှမအရင်း တစ်ဦးဦး
											(သို့မဟုတ်) မဲရုံမှူး၊</li>
										<br />
										<li>(င)ကော်မရှင်နှင့် သက်ဆိုင်ရာ ရွေးကောက်ပွဲ ကော်မရှင်
											အဖွဲ့ခွဲ အဖွဲ့ဝင်များ၊</li>
										<br />
										<li>(စ)သက်ဆိုင်ရာ မဲဆန္ဒနယ်အတွက် ရွေးကောက်
											တင်မြှောက်ခံသည့် လွှတ်တော် ကိုယ်စားလှယ်လောင်းများ၊ ယင်းတို့၏
											ရွေးကောက်ပွဲ ကိုယ်စားလှယ်များ၊ မဲရုံ ကိုယ်စားလှယ်များနှင့်
											အကူ ကိုယ်စားလှယ်များ။</li>
										<br />
									</ul>
								</li>
								<br />
								<li>(၄)ရွေးကောက်ပွဲတွင် သူတစ်ပါးအယောင်ဆောင်၍ ဆန္ဒမဲပေးခွင့်
									လာရောက် တောင်းဆိုကြောင်း မဲရုံမှူး သို့မဟုတ် မဲရုံအဖွဲ့ဝင်
									တစ်ဦးဦး သို့မဟုတ် တာဝန်ကျ ရပ်ကွက် သို့မဟုတ် ကျေးရွာအုပ်စု
									ရွေးကောက်ပွဲ ကော်မရှင် အဖွဲ့ခွဲ အဖွဲ့ဝင် တစ်ဦးဦးက သိရှိလျှင်
									ထိုအယောင်ဆောင်သူအား ဆန္ဒမဲပေး ခွင့်မပြုရ။</li>
								<br />
								<li>(၅)မဲစာရင်း၌အမည် သို့မဟုတ် နေရပ်နှင့် စပ်လျဉ်းသည့်
									ဖော်ပြချက်တွင် အနည်းငယ် မှားယွင်းခြင်း၊ ချို့ငဲ့ခြင်း၊
									ချွတ်ချော်ခြင်း ရှိသော်လည်း ထိုဖော်ပြချက်နှင့် သက်ဆိုင်သူသည်
									ဆန္ဒမဲ ပေးပိုင်ခွင့်ရှိသူ အမှန်ဖြစ် ကြောင်း တာဝန်ခံ၍
									ပြောဆိုနိုင်သူရှိလျှင် မဲစာရင်းတွင် ပါရှိသော မှားယွင်းချက်၊
									ချို့ငဲ့ချက်၊ ချွတ်ချော်ချက်ကို ပြင်ဆင်ရေးမှတ်၍ ထိုသူကို ဆန္ဒ
									မဲပေးခွင့် ပြုရမည်။ ယင်းသို့ ပြင်ဆင်ခွင့် ပြုသည့် အခါတိုင်း
									မဲရုံမှူးသည် ပုံစံ (၁၂) ဖြင့် အကျိုးအကြောင်း အကျဉ်းချုပ်ကို
									ရေးသား မှတ်တမ်း တင်ထားရမည်။</li>
								<br />
								<li>(၆)ဆန္ဒမဲ လက်မှတ်ကို တောင်းဆိုသူသည် သူတစ်ပါး
									အယောင်ဆောင်သော ပြစ်မှုကို ကျူးလွန်သူ ဖြစ်ကြောင်း လွှတ်တော်
									ကိုယ်စားလှယ်လောင်းက ဖြစ်စေ၊ ယင်း၏ ရွေးကောက်ပွဲ ကိုယ်စားလှယ်က
									ဖြစ်စေ၊ မဲရုံမှူးက သင့်လျော်သည်ဟု ထင်မြင်သူက ဖြစ်စေ
									ကန့်ကွက်လာလျှင် မဲရုံမှူးသည် ကန့်ကွက် မဲစာရင်း ပုံစံ (၁၄) တွင်
									လိုအပ်သည်များ ဖြည့်စွက်၍ ထိုဆန္ဒမဲလက်မှတ် တောင်းဆိုသူကို
									လက်မှတ်ရေးထိုး စေရမည်။ ကန့်ကွက် သူများကိုလည်း လက်မှတ်ရေး
									ထိုးစေရမည်။ စာမရေးတတ်လျှင် လက်ဝဲ လက်မ လက်ဗွေ နှိပ်စေရမည်။
									ဆန္ဒမဲလက်မှတ် တောင်းဆိုသူက ပုံစံ (၁၄) တွင် ဖြည့်စွက်ခြင်း၊
									လက်မှတ် ရေးထိုးခြင်း မပြုလျှင် ထိုသူအား ဆန္ဒမဲ ပေးခွင့်မပြုရ။</li>
								<br />
								<li>(၇)အောက်ပါ ပုဂ္ဂိုလ်များသည် ရွေးကောက်ပွဲတွင်
									ဆန္ဒမဲပေးပိုင်ခွင့် မရှိစေရ-
									<ul style="text-align: justify;">
										<li>(က)သာသနာ့ ၀န်ထမ်း၊</li>
										<br />
										<li>(ခ)ထောင်ဒဏ် ကျခံနေရသူ၊</li>
										<br />
										<li>(ဂ)စိတ်ပေါ့သွပ်နေသည်ဟု သက်ဆိုင်ရာ ဥပဒေက
											ပြဋ္ဌာန်းထားသည့် အတိုင်း သတ်မှတ်ခြင်း ခံရသူ၊</li>
										<br />
										<li>(ဃ)လူမွဲအဖြစ် ဆုံးဖြတ် ကြေညာခံထားရခြင်း မှ
											လွတ်မြောက်ခွင့် မရသေး သူ၊</li>
										<br />
										<li>(င)ရွေးကောက် တင်မြှောက်ခြင်း ဆိုင်ရာ ဥပဒေအရ
											တားမြစ်ခြင်း ခံရသူ၊</li>
										<br />
										<li>(စ)နိုင်ငံခြားသား သို့မဟုတ် နိုင်ငံခြားသား အဖြစ်
											ခံယူထားသူ။</li>
									</ul>
								</li>
							</ul>
							</p>
						</div>
					</p:tab>
					<p:tab title="ပယ်မဲမဖြစ်ရေး" icon="ui-icon-wrench">
						<div class="Fs14 MarRight20">
							<p
								style="text-align: justify; text-indent: 3em; margin-left: 20px">
								၂၀၁၅ ခုနှစ် နိုဝင်ဘာလ ၈ ရက်နေ့တွင် ကျင်းပတော့မည့်
								အထွေထွေရွေးကောက်ပွဲတွင် မဲဆန္ဒပေးပိုင်ခွင့် ရှိသူတိုင်း
								ဆန္ဒမဲပေးရန် အရေးကြီးသကဲ့သို့ မိမိပေးလိုက်သော မဲများသည်လည်း
								ပယ်မဲမဖြစ်စေရန် ပို၍ပင် အရေးကြီးပါသည်။ပထမဆုံး
								အရေးကြီးသည့်အချက်မှာ မဲပေးပိုင်ခွင့်ရှိသူတိုင်း
								မဲပေးနိုင်ရေးအတွက် မဲစာရင်းတွင် မိမိတို့၏အမည်ပါရှိရမည်ဖြစ်ပါသည်။
								မဲစာရင်းတွင် အမည်မပါရှိသူများအနေဖြင့် မည်သည့်နည်းနှင့်မျှ
								မဲပေးပိုင်ခွင့် ရရှိမည်မဟုတ်ပါ။အကယ်၍ မိမိအမည်မပါရှိပါက
								ပုံစံ(၃)ဖြင့်လျှောက်ထားရပါမည်။</p>
							<p
								style="text-align: justify; text-indent: 3em; margin-left: 20px">
								မဲစာရင်းတွင်ပါဝင်ပြီး မဲပေးခွင့်ရရှိသော်လည်း
								မိမိဆန္ဒပြုလိုက်သည့် မဲလက်မှတ်သည် ခိုင်လုံမဲဖြစ်ရန်
								အလွန်အရေးကြီးပါသည်။မိမိဆန္ဒပြုလိုက်သော မဲလက်မှတ်သည် အကယ်၍
								ပယ်မဲဖြစ်သွားမည်ဆိုပါက တန်ဖိုးမဲ့သည့် မဲဖြစ်သွားပြီး
								မိမိ၏ကြိုးပမ်းအားထုတ်မှုများ သည် အချည်းနှီးဖြစ်သွားသည်သာမက
								နိုင်ငံအတွက်လည်း ဆုံးရှုံးမှုတစ်ခု ဖြစ်ပါမည်။ထို့ကြောင့်
								မဲဆန္ဒရှင်တိုင်း မိမိတို့ ဆန္ဒပြုလိုက်သောမဲသည် ခိုင်လုံမဲ
								ကျိန်းသေပေါက်ဖြစ်ရန် အလွန်အရေးကြီးပါသည်။</p>
							<p
								style="text-align: justify; text-indent: 3em; margin-left: 20px">
								မိမိဆန္ဒပြုလိုက်သော တံဆိပ်သည် ကိုယ်စားလှယ်လောင်းနှစ်ဦး၏ကြားတွင်
								တစ်၀က်စီနှိပ်မိပါက မည်သူ့အား ဆန္ဒပြုထားသည်ကို
								ဆုံးဖြတ်ရန်ခက်ခဲသဖြင့် ယင်းမဲမျိုးကို မဲရုံမှူးကပယ်မဲအဖြစ်
								သတ်မှတ်မည်ဖြစ်ပါသည်။တံဆိပ်၏ ဧရိယာသည် မည်သည့်ကိုယ်စားလှယ်၏
								အကွက်တွင် ပို၍ရောက်ရှိနေကြောင်း သိသာထင်ရှားစေရန်အတွက်
								တံဆိပ်တုံး၌ အကွက်ငယ်ကိုးခုကို ထည့်သွင်းထားခြင်းဖြစ်ပါသည်။</p>
								<p
								style="text-align: justify; text-indent: 3em; margin-left: 20px">
								မဲလက်မှတ်တွင် မိမိဆန္ဒပြုလိုသော ကိုယ်စားလှယ်လောင်း၏ အမည်နှင့်
								အမှတ်တံဆိပ်၏ ညာဘက်တွင် ရှိသော လေးထောင့်အကွက်၌ တံဆိပ်တုံးကို
								နှိပ်၍ ဆန္ဒပြုရမည် ဖြစ်ပါသည်။မဲဆန္ဒရှင်များအနေဖြင့်
								ဖော်ပြပါအကွက် အတွင်း၌ တံဆိပ်ကိုလွယ်ကူစွာ နှိပ်နိုင်ရန်အတွက်
								တံဆိပ်တုံး၏ အရွယ်အစားကို အဆိုပါအကွက်၏ အရွယ်အစားထက်
								အတန်ငယ်သေး၍ထားပါသည်။</p>
							<p
								style="text-align: justify; text-indent: 3em; margin-left: 20px">
								အကယ်၍ မိမိနှိပ်လိုက်သော တံဆိပ်သည် မိမိဆန္ဒပြုလိုသော
								ကိုယ်စားလှယ်လောင်း၏ အကွက်အတွင်းသို့ တစ်ခုလုံးမကျရောက်ပဲ အကွက်၏
								အပေါ်သို့ဖြစ်စေ၊ အကွက်၏ဘေးသို့ဖြစ်စေ၊ အကွက်၏အောက်သို့ဖြစ်စေ
								တစ်စိတ်တစ်ဒေသသို့ကျရောက်သွားလျှင်လည်း ပယ်မဲဖြစ်မသွားနိုင်ပါ။
								ခိုင်လုံမဲအဖြစ် သတ်မှတ်ပေးမည်ဖြစ်ပါသည်။အမှန်
								ခြစ်ဇောက်ထိုးဖြစ်သွားလျှင်လည်း ပယ်မဲအဖြစ်မသတ်မှတ်ပဲ
								ခိုင်လုံမဲအဖြစ်သတ်မှတ်ပေးမည်ဖြစ်ပါသည်။ တံဆိပ်တုံးကို
								အတည့်နှိပ်နိုင်စေရန် အမှန်အမှတ်အသားဖြင့် ပြပေးထားပါသည်။ထိုမျှမက
								မိမိဆန္ဒပြုလိုသော ကိုယ်စားလှယ်လောင်း၏ ညာဘက်အကွက်တွင်
								တံဆိပ်မနှိပ်မိဘဲ ကိုယ်စားလှယ်လောင်း၏ အမည်၌ဖြစ်စေ၊
								ကိုယ်စားလှယ်လောင်း၏ အမှတ်အသား၌ဖြစ်စေ တံဆိပ်နှိပ်ထားလျှင်လည်း
								ခိုင်လုံမဲအဖြစ်သတ်မှတ်
								ပေးမည်ဖြစ်ပါသည်။မိမိနှိပ်လိုက်သောတံဆိပ်သည် အကွက်အတွင်း
								အပြည့်မ၀င်ဘဲ အကွက်၏အပြင်ဘက်သို့ အနည်းအကျည်း ရောက်ရှိသွား
								လျှင်လည်း ပယ်မဲမဖြစ်ခြင်းကြောင့် တံဆိပ်နှိပ်သည့်အခါ
								စိတ်မလှုပ်ရှားဘဲ စိတ်အေးအေးထားပြီးနှိပ်ရန် အရေးကြီးပါသည်။</p>
								<p
								style="text-align: justify; text-indent: 3em; margin-left: 20px">
								ဆန္ဒမဲပေးရာတွင် တစ်စုံတစ်ဦး သိရှိစေရန် ရည်ရွယ်ချက်ဖြင့်ဖြစ်စေ၊
								အခြားအကြောင်းတစ်ခုခု ကြောင့်ဖြစ်စေ မဲလက်မှတ်ပေါ်၌ အမှတ်အသား
								တစ်ခုခုပြုလိုက်ပါက ၎င်းမဲသည်ပယ်မဲ ဖြစ်သွားမည်ဖြစ်ပါသည်။တံဆိပ်သည်
								ကိုယ်စားလှယ်လောင်း၏ အကွက်များ၏ပြင်ပတွင်ရောက်ရှိနေလျှင်
								ပယ်မဲဖြစ်သည်။တံဆိပ်ကို နှစ်ကြိမ်နှိပ်ထားလျှင်လည်း ပယ်မဲဖြစ်သည်။</p>
							<p
								style="text-align: justify; text-indent: 3em; margin-left: 20px">
								အထူးအရေးကြီးသည့်အချက်မှာ မဲဆန္ဒရှင်များက ပထမအကြိမ်
								တံဆိပ်နှိပ်လိုက်သည့်အခါ မထင်မရှား (မှိန်)
								ဖြစ်နေလျှင်သော်လည်းကောင်း၊ မိမိဆန္ဒပြုလိုသောသူ၏ အကွက်အတွင်းသို့
								တံဆိပ်တစ်ခုလုံး မကျရောက်ခဲ့လျှင်သော်လည်းကောင်းတံဆိပ်ကို
								နောက်တစ်ကြိမ်ထပ်၍ မနှိပ်မိစေရန် အထူးသတိထားရမည်ဖြစ်ပါသည်။
								မဲလက်မှတ်၏ မည်သည့်နေရာ၌ပင်ဖြစ်စေ တံဆိပ်ကို တစ်ကြိမ်ထက်ပို၍
								နှိပ်ထားသည့် မဲလက်မှတ်အားလုံးသည် ပယ်မဲများ ဖြစ်ပါသည်။</p>
							<p
								style="text-align: justify; text-indent: 3em; margin-left: 20px">
								လုံး၀တံဆိပ်နှိပ်မထားသော မဲလက်မှတ် တစ်နည်းအားဖြင့်
								လုံး၀ဆန္ဒပြုမထားသော မဲလက်မှတ်ဖြစ်သောကြောင့် မည်သူ့အား
								ဆန္ဒပြုထားသည်ကို မသိရှိနိုင်သဖြင့် ပယ်မဲဖြစ်ပါသည်။မဲလက်မှတ်တွင်
								မဲရုံမှူး၏ လက်မှတ်မပါလျှင်လည်း ပယ်မဲဖြစ်ပါသည်။ ထို့ကြောင့်
								မဲလက်မှထုတ်ယူသည့် အခါ မဲရုံမှူး၏ လက်မှတ်ပါ/မပါ နှင့်
								အစုတ်အပြဲ/အစွန်းအထင်းများ ပါ/မပါ သေချာစွာ ကြည့်ရှုရန်
								လိုအပ်ပါသည်။အကယ်၍ ဖော်ပြပါ အချက်အလက်များနှင် ငြိစွန်းနေပါက
								မဲရုံမှူးအား မဲလက်မှတ်အသစ် လဲပေးရန်တောင်းဆိုရမည် ဖြစ်ပါသည်။</p>
							<p
								style="text-align: justify; text-indent: 3em; margin-left: 20px">
								 သို့ရာတွင် မဲလက်မှတ် (အကောင်း)သည်
								မိမိ၏လက်ဝယ်ရောက်ရှိပြီးမှ တစ်စုံတစ်ခုကြောင့် အစုတ်အပြဲ/ အစွန်းအထင်း
								ဖြစ်သွားမည်ဆိုပါက မဲလက်မှတ်အသစ် လဲပေးရန် တောင်းဆို ခွင့်မရှိပါ။
								မဲရုံမှူးကလည်း မဲလက်မှတ်အသစ်လဲပေးမည် မဟုတ်ပါ။ ခွင့်မရှိပါ။
								ဆန္ဒပြုရမည့် တံဆိပ်တုံးကြောင့် မဲလက်မှတ်တွင်
								မင်မစွန်းထင်းစေရန်အတွက် မင်ခံခွက် (inkpad)နှင့်နှိပ်ရသည့်
								တံဆိပ်တုံးအစား မင်အမြန် ခြောက်လွယ်သောလေဆာတံဆိပ်တုံးနှင့်
								ဆန္ဒပြုနိုင်ရန် စီစဉ်ထားရှိပါသည်။</p>
						</div>
					</p:tab>
				</p:tabView>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>