<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../template/common.xhtml">
	<ui:define name="head">
	</ui:define>
	<ui:define name="content">
		<p:panel styleClass="bodyContent">
			<div class="ContainerIndent  Container100 Responsive100 TexAlCenter">
				<div class="ContainerIndent Container33 Responsive50 image-container">
					<h3 class="BigTopic topic Fs14">ပယ်မဲနမူနာများ</h3>
				<div class="lightgallery image-panel">
				  <a href="/maepaysoh-web/javax.faces.resource/images/invalid-vote/invalid-vote-1.jpg.xhtml?ln=base">
				     <h:graphicImage styleClass="thumbnail coverImage" library="base" name="images/invalid-vote/invalid-vote-1.jpg" />
				  </a>
				  <a href="/maepaysoh-web/javax.faces.resource/images/invalid-vote/invalid-vote-2.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/invalid-vote/invalid-vote-2.jpg"/>
				  </a>
				  <a href="/maepaysoh-web/javax.faces.resource/images/invalid-vote/invalid-vote-3.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/invalid-vote/invalid-vote-3.jpg" />
				  </a>		
				  <a href="/maepaysoh-web/javax.faces.resource/images/invalid-vote/invalid-vote-4.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail"  name="images/invalid-vote/invalid-vote-4.jpg" />
				  </a>	
				  <a href="/maepaysoh-web/javax.faces.resource/images/invalid-vote/invalid-vote-5.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/invalid-vote/invalid-vote-5.jpg" />
				  </a>		
				  <a href="/maepaysoh-web/javax.faces.resource/images/invalid-vote/invalid-vote-6.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/invalid-vote/invalid-vote-6.jpg" />
				  </a>		
				  <a href="/maepaysoh-web/javax.faces.resource/images/invalid-vote/invalid-vote-7.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/invalid-vote/invalid-vote-7.jpg" />
				  </a>	
				  <a href="/maepaysoh-web/javax.faces.resource/images/invalid-vote/invalid-vote-8.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/invalid-vote/invalid-vote-8.jpg" />
				  </a>
				</div>
				</div>
				
				<div class="ContainerIndent  Container33 Responsive50 image-container">
					<h3 class="BigTopic topic Fs14">ခိုင်လုံမဲ နမူနာများ</h3>
				<div class="lightgallery image-panel">
				  <a href="/maepaysoh-web/javax.faces.resource/images/valid-vote/valid-vote-1.png.xhtml?ln=base">
				     <h:graphicImage styleClass="thumbnail coverImage" library="base" name="images/valid-vote/valid-vote-1.png" />
				  </a>
				  <a href="/maepaysoh-web/javax.faces.resource/images/valid-vote/valid-vote-2.png.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/valid-vote/valid-vote-2.png"/>
				  </a>
				  <a href="/maepaysoh-web/javax.faces.resource/images/valid-vote/valid-vote-3.png.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/valid-vote/valid-vote-3.png" />
				  </a>		
				  <a href="/maepaysoh-web/javax.faces.resource/images/valid-vote/valid-vote-4.png.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail"  name="images/valid-vote/valid-vote-4.png" />
				  </a>	
				  <a href="/maepaysoh-web/javax.faces.resource/images/valid-vote/valid-vote-5.png.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/valid-vote/valid-vote-5.png" />
				  </a>		
				  <a href="/maepaysoh-web/javax.faces.resource/images/valid-vote/valid-vote-6.png.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/valid-vote/valid-vote-6.png" />
				  </a>		
				  <a href="/maepaysoh-web/javax.faces.resource/images/valid-vote/valid-vote-7.png.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/valid-vote/valid-vote-7.png" />
				  </a>	
				  <a href="/maepaysoh-web/javax.faces.resource/images/valid-vote/valid-vote-8.png.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/valid-vote/valid-vote-8.png" />
				  </a>
				</div>
				</div>
<div class="ContainerIndent Container33 Responsive50  image-container">
					<h3 class="BigTopic topic Fs14">မဲပေးနည်းလမ်းညွှန်</h3>
				<div class="lightgallery image-panel">
				  <a href="/maepaysoh-web/javax.faces.resource/images/voting-guide/0.jpg.xhtml?ln=base">
				     <h:graphicImage styleClass="thumbnail coverImage" library="base" name="images/voting-guide/0.jpg" />
				  </a>
				  <a href="/maepaysoh-web/javax.faces.resource/images/voting-guide/1.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/voting-guide/1.jpg" />
				  </a>
				  <a href="/maepaysoh-web/javax.faces.resource/images/voting-guide/2.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/voting-guide/2.jpg" />
				  </a>
				  <a href="/maepaysoh-web/javax.faces.resource/images/voting-guide/3.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/voting-guide/3.jpg" />
				  </a>		
				  <a href="/maepaysoh-web/javax.faces.resource/images/voting-guide/4.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail"  name="images/voting-guide/4.jpg" />
				  </a>	
				  <a href="/maepaysoh-web/javax.faces.resource/images/voting-guide/5.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/voting-guide/5.jpg" />
				  </a>		
				  <a href="/maepaysoh-web/javax.faces.resource/images/voting-guide/6.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/voting-guide/6.jpg" />
				  </a>		
				  <a href="/maepaysoh-web/javax.faces.resource/images/voting-guide/7.jpg.xhtml?ln=base">
				     <h:graphicImage library="base" styleClass="thumbnail" name="images/voting-guide/7.jpg" />
				  </a>	
				</div>
				</div>				
				<div class="ContainerIndent Container33 Responsive50 image-container TexAlCenter">
		           <h3 class="BigTopic topic Fs14" style="padding-top: 5px;">အခြားဓာတ်ပုံများ</h3>
		           <div class="imagebox ContainerIndent lightgallery image-panel">
		           	  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/10.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage HoverEffect" library="base" name="images/general/10.jpg" />
					  </a>
					  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/1.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage HoverEffect" library="base" name="images/general/1.jpg" />
					  </a>
					  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/2.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage HoverEffect" library="base" name="images/general/2.jpg" />
					  </a>	
					  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/3.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage thumbnail HoverEffect" library="base" name="images/general/3.jpg" />
					  </a>	
					  <a class=" Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/4.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage thumbnail HoverEffect" library="base" name="images/general/4.jpg" />
					  </a>	
					  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/5.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage thumbnail HoverEffect" library="base" name="images/general/5.jpg" />
					  </a>	
					  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/6.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage thumbnail HoverEffect" library="base" name="images/general/6.jpg" />
					  </a>	
					  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/7.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage thumbnail HoverEffect" library="base" name="images/general/7.jpg" />
					  </a>	
					  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/8.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage HoverEffect" library="base" name="images/general/8.jpg" />
					  </a>	
					  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/9.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage thumbnail HoverEffect" library="base" name="images/general/9.jpg" />
					  </a>	
					  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/11.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage thumbnail HoverEffect" library="base" name="images/general/11.jpg" />
					  </a>	
					  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/12.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage thumbnail HoverEffect" library="base" name="images/general/12.jpg" />
					  </a>	
					  <a class="Container50 Responsive100" href="/maepaysoh-web/javax.faces.resource/images/general/13.jpg.xhtml?ln=base">
					     <h:graphicImage styleClass="generalImage thumbnail HoverEffect" library="base" name="images/general/13.jpg" />
					  </a>						  					  					  
		           </div>
		        </div>				
			</div>
		</p:panel>
	</ui:define>
</ui:composition>
</html>