<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="../template/common.xhtml">
	<ui:define name="content">
		<div class="Container30 Responsive100 MarLeft5 MarTop10" style="margin-left: 10px;">
			<div class="ContainerContent">
				<div class="Card">
					<div class="CardTopic">
						<i class="icon icon-movie Fs20 Fleft MarRight10"></i>
						<span class="Fleft SoftBlue Fs14 LeadenGreen Fs14 LeadenGreen">မြန့်မာ့ရွေးကောက်ပွဲ  ၂၀၁၅</span>
					</div>
						<div class="Separator"/>
							<iframe height="200" class="Container100 Responsive100" src="https://www.youtube.com/embed/QBh-MAh2fD8?autoplay=2" />
				</div>
			</div>
		</div>
		
		<div class="Container30 Responsive100 MarLeft5 MarTop10" style="margin-left: 25px;">
			<div class="ContainerContent">
				<div class="Card">
					<div class="CardTopic">
						<i class="icon icon-movie Fs20 Fleft MarRight10"></i>
						<span class="Fleft SoftBlue Fs14 LeadenGreen">မဟာဗျူဟာစီမံကိန်း ၂၀၁၄-၂၀၁၈</span>
					</div>
						<div class="Separator"/>
							<iframe height="200" class="Container100 Responsive100" src="https://www.youtube.com/embed/zmarfomnkJk?autoplay=2" />
				</div>
			</div>
		</div>
		
		<div class="Container30 Responsive100 MarLeft5 MarTop10" style="margin-left: 25px;">
			<div class="ContainerContent">
				<div class="Card">
					<div class="CardTopic">
						<i class="icon icon-movie Fs20 Fleft MarRight10"></i>
						<span class="Fleft SoftBlue Fs14 LeadenGreen">မြန်မာ့ရွေးကောက်ပွဲ၏ အကြောင်းအရင်း</span>
					</div>
						<div class="Separator"/>
							<iframe height="200" class="Container100 Responsive100" src="https://www.youtube.com/embed/icw-WWIKY6s?autoplay=2" />
				</div>
			</div>
		</div>
		
		<div class="Container30 Responsive100 MarLeft5 MarTop10" style="margin-left: 10px;">
			<div class="ContainerContent">
				<div class="Card">
					<div class="CardTopic">
						<i class="icon icon-movie Fs20 Fleft MarRight10"></i>
						<span class="Fleft SoftBlue Fs14 LeadenGreen">ဦးသူရရွှေမန်း၏ အမှာစကား </span>
					</div>
						<div class="Separator"/>
							<iframe height="200" class="Container100 Responsive100" src="https://www.youtube.com/embed/GmMG0RGAt0w?autoplay=2"/>
				</div>
			</div>
		</div>
		
		<div class="Container30 Responsive100 MarLeft5 MarTop10" style="margin-left: 25px;">
			<div class="ContainerContent">
				<div class="Card">
					<div class="CardTopic">
						<i class="icon icon-movie Fs20 Fleft MarRight10"></i>
						<span class="Fleft SoftBlue Fs14 LeadenGreen">ဒီမိုကရေစီ လမ်းခရီး</span>
					</div>
						<div class="Separator"/>
							<iframe height="200" class="Container100 Responsive100" src="https://www.youtube.com/embed/-YUKCwOYQhI?autoplay=2"  />
				</div>
			</div>
		</div>
		
		<div class="Container30 Responsive100 MarLeft5 MarTop10" style="margin-left: 25px;">
			<div class="ContainerContent">
				<div class="Card">
					<div class="CardTopic">
						<i class="icon icon-movie Fs20 Fleft MarRight10"></i>
						<span class="Fleft SoftBlue Fs14 LeadenGreen">မြန့်မာ့ရွေးကောက်ပွဲ </span>
					</div>
						<div class="Separator"/>
							<iframe height="200" class="Container100 Responsive100" src="https://www.youtube.com/embed/anNmumESgYU?autoplay=2" />
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>