.thumbnail {
	display:none;
	height:250px;
}
.coverImage {
	display:block;
}
.image-container {
	box-shadow: 1px 1px 1px 2px #f7f5f3;
	background-color:#455a64;
	border-radius: 10px;
	margin : 10px;
}
.image-panel {
	width: auto;
	display: inline-block;
	padding-top: 10px;
}

.topic {
	text-align: center;
	border-bottom: 1px solid #eae9e7;
	color:#fff;
}

.generalImage {
  box-shadow: 0 0 1px 0 #fff;
  height: 100px;
  margin: 2px;
  max-width: 135px;
  padding: 5px;
}
.ui-widget {
  font-family: "Myanmar3";
  font-size: initial !important;
}
.ui-tabs .ui-tabs-nav li a {
    font-family: "Myanmar3";
}
.ui-widget .ui-widget {
  font-family: "Myanmar3";
  font-size: initial !important;
}
