<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="maepaysoh-ear">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="maepaysoh-web.war" deploy-path="/" handle="module:/resource/maepaysoh-web/maepaysoh-web">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="maepaysoh-ejb.jar" deploy-path="/" handle="module:/resource/maepaysoh-ejb/maepaysoh-ejb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="maepaysoh-java-api.jar" deploy-path="/lib" handle="module:/resource/maepaysoh-java-api/maepaysoh-java-api">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
