<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:up="http://java.sun.com/jsf/composite/unitedPrime">

<ui:composition template="../template/common.xhtml">
	<ui:define name="head">
		<h:outputStylesheet name="css/flipclock.css" library="base" />
		<h:outputStylesheet name="css/candidate.css" library="candidate" />
		<h:outputScript name="js/flipclock.min.js" library="base" />
		<h:outputScript name="js/base.js" library="base" />
		<h:outputScript name="candidateList.js" library="js" ></h:outputScript>
	</ui:define>
	<ui:define name="content">
		<div class="ContainerIndent">
			<div class="Container100 Responsive100">
				<div class="Card" >
					<div class="CardTopic">
						<i class="icon-task Fs30 Fleft MarRight20" style="position: relative; bottom: 8px"></i>
						<span id="clockMessage" class="FontMyanmar3Bold Fs20 LeadenGreen">
							မဲပေးရန် အချိန်
					    </span>
					</div>
					<div class="SeparatorFull"></div>
					<div id="countDownPanel">
						<div id="countDown" />
					</div>
				</div>
			</div>
			<div class="Container100 Responsive100 MarTop10">
			<h:form id="frmCandidates" styleClass="TexAlLeft">
				<div class="Card MarTop10">
					<div class="CardTopic">
					<i class="fa fa-street-view Fs30 Fleft MarRight20" style="position: relative; bottom: 8px"></i>
						<span class="FontMyanmar3Bold Fs20 LeadenGreen">
							ဤမြို့နယ်အတွင်းရှိ ကိုယ်စားလှယ်လောင်းများ
					    </span>
					</div>		
				    <div class="SeparatorFull"></div>
					<div class="ContainerIndent">
						<p:selectOneButton styleClass="MarTop10" value="#{geoLocation.legislature}">
							<f:selectItem itemLabel="ပြည်သူ့လွှတ်တော်" itemValue="ပြည်သူ့လွှတ်တော်" />
							<f:selectItem itemLabel="တိုင်းဒေသကြီး/ပြည်နယ် လွှတ်တော်" itemValue="တိုင်းဒေသကြီး/ပြည်နယ် လွှတ်တော်" />
							<f:selectItem itemLabel="အမျိုးသားလွှတ်တော်" itemValue="အမျိုးသားလွှတ်တော်" />
							<p:ajax event="change" listener="#{geoLocation.loadLocalizeParties}" update="frmCandidates" />
						</p:selectOneButton>
					</div>							
						<div class="loadingImage" style="text-align: center; height: 10px;"/>
							<p:ajaxStatus style="display:block;text-align:center;">
								<f:facet name="default">
									<script type="text/javascript">
										$(".ui-paginator").css('display', 'block');
									</script>
									<h:graphicImage library="base" name="images/22.gif" />
								</f:facet>
								<f:facet name="start">
									<script type="text/javascript">
										$(".ui-paginator").css('display', 'block');
									</script>
									<h:graphicImage library="base" name="images/22.gif" />
								</f:facet>
								<f:facet name="complete">
									<script type="text/javascript">
										$(".ui-paginator").css('display', 'block');
									</script>
								</f:facet>
							</p:ajaxStatus>
						<p:dataGrid styleClass="noboder TexAlLeft" var="candidate"
							emptyMessage="အချက်အလက်များမတွေ့ပါ။"
							value="#{geoLocation.candidateList}" paginatorPosition="bottom"
							paginator="true" rows="15" lazy="true" columns="2" layout="grid"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							pageLinks="5" rowsPerPageTemplate="15,30,60" rowIndexVar="index">
							<div class="ContainerIndent">
								<up:candidateItem data="#{candidate}" />
							</div>
						</p:dataGrid>
						</div>
					</h:form>
				</div>
			</div>
	</ui:define>
</ui:composition>
</html>