<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:up="http://java.sun.com/jsf/composite/unitedPrime">
<head>
<title>Candidate List Item</title>
<f:metadata>
	<f:viewParam name="candidateId" value="#{candidateBean.candidateId}" />
	<f:event type="preRenderView"
		listener="#{candidateBean.getCandidateInfoById(candidateBean.candidateId)}" />
</f:metadata>
</head>
<ui:composition template="/pages/template/common.xhtml">
	<ui:define name="head">
		<h:outputStylesheet name="css/candidate.css" library="candidate" />
	</ui:define>
	<ui:define name="content">

		<!-- Profile Card -->
		<div class="ContainerIndent">
			<div class="Card">

				<!-- Title -->
				<div class="CardTopic">
					<span class="FontAdamantiumBold DispBlock LeadenGreen">
						ကိုယ်ရေးအချက်အလက်များ </span>
				</div>
				<div class="SeparatorFull"></div>

				<!-- Body -->

				<!-- Left -->
				<div class="Wid30 TexAlCenter Fleft Responsive100">

					<div class="candidate-photo">
						<p:graphicImage url="#{candidateBean.candidate.photo}"
							width="180px" />
					</div>
					<div class="EmptyBox20"></div>

					<span class="FontAdamantiumBold Fs14 DispBlock MarBot10">လာရောက်ကြည့်ရှု့သူများ</span>
					<span id="candID#{candidateBean.candidate.id}" class="FontAdamantiumBold Fs20 DispBlock Red"> 
						<h:outputText styleClass="candidateInterest"
							value="#{candidateBean.candidate.interest}"
							converter="mmNumberConverter">
						</h:outputText>
					</span>
					<div class="EmptyBox20"></div>

					<span class="FontAdamantiumBold Fs14 DispBlock MarBot10">လွှတ်တော်</span>
					<span class="FontAdamantiumBold Fs20 DispBlock Red"> <h:outputText
							value="#{candidateBean.candidate.legislature}">
						</h:outputText>
					</span>
					<div class="EmptyBox20"></div>

					<span class="FontAdamantiumBold Fs14 DispBlock MarBot10">မဲဆန္ဒနယ်မြေ</span>
					<span class="FontAdamantiumBold Fs20 DispBlock Red"> <h:outputText
							value="#{candidateBean.candidate.constituency['name']} #{candidateBean.candidate.constituency['parent']}">
						</h:outputText>
					</span>
					<div class="EmptyBox20"></div>


				</div>


				<!-- Right -->
				<div class="Wid60 TexAlLeft Fright">
					<span class="FontAdamantiumBold Fs14 DispBlock MarBot10">အမည်</span>
					<span class="FontAdamantiumBold Fs20 DispBlock Red"> <h:outputText
							value="#{candidateBean.candidate.name}">
						</h:outputText>
					</span>
					<div class="EmptyBox20"></div>

					<span class="FontAdamantiumBold Fs14 DispBlock MarBot10">အသက်</span>
					<span class="FontAdamantiumBold Fs20 DispBlock Red"> <h:outputText
							value="#{candidateBean.candidate.birthdate}"
							converter="AgeConverter">
						</h:outputText>
					</span>
					<div class="EmptyBox20"></div>

					<span class="FontAdamantiumBold Fs14 DispBlock MarBot10">လူမျိုး၊
						ဘာသာ</span> <span class="FontAdamantiumBold Fs20 DispBlock Red"> <h:outputText
							value="#{candidateBean.candidate.ethnicity} - #{candidateBean.candidate.religion}">
						</h:outputText>
					</span>
					<div class="EmptyBox20"></div>

					<span class="FontAdamantiumBold Fs14 DispBlock MarBot10">ပညာအရည်အချင်း</span>
					<span class="FontAdamantiumBold Fs20 DispBlock Red"> <h:outputText
							value="#{candidateBean.candidate.education}">
						</h:outputText>
					</span>
					<div class="EmptyBox20"></div>

					<span class="FontAdamantiumBold Fs14 DispBlock MarBot10">အလုပ်အကို်င်</span>
					<span class="FontAdamantiumBold Fs20 DispBlock Red"> <h:outputText
							value="#{candidateBean.candidate.occupation}" converter="longTextConverter">
						</h:outputText>
					</span>
					<div class="EmptyBox20"></div>

					<span class="FontAdamantiumBold Fs14 DispBlock MarBot10">မိဘ</span>
					<span class="FontAdamantiumBold Fs20 DispBlock Red"> <h:outputText
							value="#{candidateBean.candidate.father.name} + #{candidateBean.candidate.mother.name}">
						</h:outputText>
					</span>
					<div class="EmptyBox20"></div>

					<span class="FontAdamantiumBold Fs14 DispBlock MarBot10">ရပ်ကွက်ကျေးရွာ</span>
					<span class="FontAdamantiumBold Fs20 DispBlock Red"> <h:outputText
							value="#{candidateBean.candidate.wordVillage}">
						</h:outputText>
					</span>
					<div class="EmptyBox20"></div>
				</div>


				<!-- Body End -->


			</div>
		</div>


		<!-- Party Card -->
		<div class="ContainerIndent">
			<up:partyDetailsItem data="#{candidateBean.candidate.party}"
				rendered="#{ not empty candidateBean.candidate.party}" />
		</div>


		<!-- Motions Card -->
		<div class="ContainerIndent">
			<p:tabView rendered="#{ not empty candidateBean.candidate.motions or not empty candidateBean.candidate.questions}">
				<p:tab title="လွှတ်တော်အတွင်း အဆိုတင်သွင်းမှု့များ" rendered="#{ not empty candidateBean.candidate.motions}">
					<div class="ContainerIndent">
						<up:motions motions="#{candidateBean.candidate.motions}"
							rendered="#{ not empty candidateBean.candidate.motions}" />
					</div>
				</p:tab>
				<p:tab title="လွှတ်တော်အတွင်း မေးခွန်းများ" rendered="#{ not empty candidateBean.candidate.questions}">
					<div class="ContainerIndent">
						<up:questions questions="#{candidateBean.candidate.questions}" 
							rendered="#{ not empty candidateBean.candidate.questions}"/>
					</div>
				</p:tab>
			</p:tabView>
		</div>
		<h:outputScript name="candidate.js" library="js" ></h:outputScript>
	</ui:define>
</ui:composition>
</html>