<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:up="http://java.sun.com/jsf/composite/unitedPrime">
<h:head>
	<f:metadata>
		<f:viewParam name="partyId" value="#{candidateBean.partyId}" />
		<f:viewParam name="legislature" value="#{candidateBean.schLegislature}" />
	</f:metadata>

</h:head>
<ui:composition template="/pages/template/common.xhtml">
<ui:define name="head">
	<h:outputStylesheet name="css/candidate.css" library="candidate" />
</ui:define>
	<ui:define name="content">
			<h:form id="frmCandidates">
			<div class="ContainerIndent">
				<div class="Card">
					<div class="CardTopic">
						<span class="FontMyanmar3Bold DispBlock LeadenGreen">
							ကိုယ်စားလှယ်လောင်းများ
						</span>
					</div>
					<div class="SeparatorFull"></div>

					<div class="Container100 Responsive100 TexAlCenter ">
						<p:selectOneMenu id="legisature" value="#{candidateBean.schLegislature}" >
				            <f:selectItems value="#{candidateBean.legislatures}" var="lis" itemValue="#{lis}" itemLabel="#{lis}" />
			        	</p:selectOneMenu>

						<p:spacer width="10px;" height="0px;" style="margin-top:-10;"></p:spacer>

						<p:selectOneMenu id="state" value="#{candidateBean.schStatePcode}" style="width:180px;">
							<f:selectItems value="#{stateData}" var="state" itemLabel="#{state.stateName}" itemValue="#{state.statePCode}"></f:selectItems>					            
			        	</p:selectOneMenu>
						
					</div>

					<div class="Container100 Responsive100 TexAlCenter">
						<span class="Responsive100 MarTop10 DispInlBlock">
						<p:inputText styleClass="Responsive100 MarTop10" value="#{candidateBean.schCandidateName}" placeholder="#{candidateBean.namePlaceHolder}"/>
						</span>
						<p:spacer width="10px;"></p:spacer>
						<p:autoComplete value="#{candidateBean.schPartyName}" 
							completeMethod="#{candidateBean.completeText}" 
							styleClass="Responsive100 MarTop10"
							placeholder="#{candidateBean.partyNamePlaceHolder}"/>
						<p:spacer width="10px;"></p:spacer>
						<p:commandButton icon="fa fa-search" value="ရှာဖွေရန်" update="frmCandidates:candidateGrid" styleClass="Responsive100 MarTop10" ></p:commandButton>
					</div>
						
				</div>
			</div>	
			<div class="loadingImage" style="text-align: center; height: 10px;margin-top: 8px;">
				<p:ajaxStatus style="display:block;text-align:center;">
					<f:facet name="start">
						<script type="text/javascript">
							$(".ui-paginator").css('display', 'block');
						</script>
						<h:graphicImage library="base" name="images/22.gif" />
					</f:facet>
					<f:facet name="complete">
						<script type="text/javascript">
							$(".ui-paginator").css('display', 'block');
						</script>
					</f:facet>
				</p:ajaxStatus>									
			</div>				
			<p:dataGrid id="candidateGrid" styleClass="tblCandidates" var="candidate"  value="#{candidateBean.candidateList}" 
				emptyMessage="အချက်အလက်များမတွေ့ပါ။"
				paginatorPosition="bottom" paginator="true" 
				rows="15" lazy="true" columns="2" layout="grid"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	            rowsPerPageTemplate="15,30,60"
	            rowIndexVar="index" pageLinks="5">
            	<div class="ContainerIndent">
					<up:candidateItem data="#{candidate}" />
				</div>
			</p:dataGrid>	
			</h:form>
			<h:outputScript name="candidateList.js" library="js" ></h:outputScript>
	</ui:define>

</ui:composition>
</html>
