<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<link rel="shortcut icon" type="image/x-icon" href="#{resource['base/images/favicon.ico']}"/>
	<title>မဲပေးစို့</title>
	<h:outputScript library="primefaces" name="jquery/jquery.js" />
	<h:outputStylesheet name="css/core-layout.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/animate.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/adamantium-font.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/ripple-effect.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/perfect-scrollbar.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/adamantium-layout.css" library="adamantium-layout" />
</h:head>	
<h:body>
	<div class="Container100 BordBottom GrayBack loginback">
		<div class="EmptyBox50"></div>

		<div class="Wid90 MarAuto">
			<div class="Wid30 DispBlock MarAuto WidAutoOnMobile">
				<div style="margin-bottom: -100px;" class="Card TexAlCenter">
					<div class="Card SoftGrayBack">
						<div class="EmptyBox20"></div>
						<i class="icon-patch DispBlock Fs100 Red"></i>
						<div class="EmptyBox40"></div>
						<div class="Wid80 Fs30 FontMyanmar3Bold Red MarAuto">Error
							Exception Occured!</div>
						<div class="EmptyBox10"></div>
						<div class="Wid80 Fs18 FontMyanmar3 Fnone MarAuto">ကျေးဇူးပြု၍ ဝက်ဘ်ဆိုက်၏ တာဝန်ရှိသူနှင့်ဆက်သွယ်ပါ။</div>
					</div>
					<div class="Separator"></div>
                        <p:link href="/">
							<button  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left RedButton HoverEffect" type="button" aria-disabled="false"><span class="ui-button-icon-left ui-icon ui-c fa fa-sign-in"></span><span class="ui-button-text ui-c">မူလ စာမျက်နှာသို့ ပြန်သွားမည်</span></button>
						</p:link>   
				</div>
			</div>
		</div>

		<div class="EmptyBox10"></div>
	</div>
</h:body>
</html>