 .tblCandidates {
	border:none;
	background-color:#F7F5F3;
}

.noboder {
	border: medium none !important;
}
.noboder .grid-cell{
	border: medium none !important;
}

.noboder .grid-cell .ui-panelgrid-cell:FIRST-CHILD, 
.noboder .grid-cell .ui-panelgrid-cell:LAST-CHILD 
{
	border: medium none !important;
}

.tblCandidates .grid-cell {
	text-align: center;
	width: 100%;
	border: medium none !important;
}
.tblCandidates .ui-panel-title {
	font-weight:bold;
	padding-left: 7px;
}
.tblCandidates .grid-cell .ui-panelgrid-cell:FIRST-CHILD{
	width:35%;
	border: medium none !important;
}
.tblCandidates .grid-cell .ui-panelgrid-cell:LAST-CHILD{
	width:64%;
	border: medium none !important;
	text-align: left;
}
.candidate-header .ui-panel-titlebar{
	background-color: #fff;
	border-bottom: 1px dashed;
	color: #546E7A;
	margin-bottom: 2px;
	padding : 10px 15px!important;
}
.candidate-header .ui-panelgrid {
	border: medium none;
}
.candidate-header .ui-grid {
	display : table-row;
}
.candidate-header .ui-panelgrid .ui-panelgrid-cell{
	border-width:0px;
}

.candidate-photo {
	width: 180px;
	height: 180px;
	overflow: hidden;

	display:block;
	margin-left: auto;
	margin-right: auto;

	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

/* 
  background-color: #fff;
    border-bottom: 1px dotted;
    color: #000;
    margin-bottom: 2px; */