.tblParties {
	display:table;
	width:100%;
	border:none;
	background-color:#F7F5F3;
}
.tblParties .grid-cell {
	text-align: center;
	width: 100%;
	border: medium none !important;
}
.tblParties .ui-panel-title {
	font-weight:bold;
	padding-left: 7px;
}
.tblParties .grid-cell .ui-panelgrid-cell:FIRST-CHILD{
	width:35%;
	border: medium none !important;
}
.tblParties .grid-cell .ui-panelgrid-cell:LAST-CHILD{
	width:64%;
	border: medium none !important;
	text-align: left;
}
/* .tblParties td:nth-child(1),.tblParties th:nth-child(1) {
    width: 30px;
    text-align: center;
}
.tblParties td:nth-child(2),.tblParties th:nth-child(2) {
    width: 80px;
    text-align: center;
}
.tblParties td:nth-child(5),.tblParties th:nth-child(5) {
    width: 120px;
    text-align: center;
} */
.personalGrid.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important
}
