<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<link rel="shortcut icon" type="image/x-icon" href="#{resource['base/images/favicon.ico']}"/>
	<title>မဲပေးစို့</title>
	<h:outputStylesheet name="css/core-layout.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/animate.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/adamantium-font.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/ripple-effect.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/perfect-scrollbar.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/adamantium-layout.css" library="adamantium-layout" />
	<h:outputStylesheet name="css/lightgallery.css" library="rightside" />
	<h:outputStylesheet name="css/rightside.css" library="rightside" />
	<h:outputStylesheet name="css/base.css" library="base" />
	
	
	<h:outputScript name="js/ripple-effect.js" library="adamantium-layout" />
	<h:outputScript name="js/perfect-scrollbar.js" library="adamantium-layout" />
	<h:outputScript name="js/layout.js" library="adamantium-layout" />
	<h:outputScript name="js/lightgallery.min.js" library="rightside" />
	<h:outputScript name="js/lg-thumbnail.min.js" library="rightside" />
	<h:outputScript name="js/lg-fullscreen.min.js" library="rightside" />
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"/>
	<h:outputScript name="js/rightside.js" library="rightside" />
	<h:outputScript name="js/scrolltop.js" library="base" />
	<ui:insert name="head" />
</h:head>
<h:body>
	<ui:include src="topbar.xhtml" />
	<ui:include src="layoutmenu.xhtml" />
	<div id="layout-portlets-cover">
		<div class ="Container75 Responsive100">
			<ui:insert name="content"/>
		</div>
		<div class ="Container25 Responsive100">
			<ui:include src="rightbar.xhtml" />
		</div>
	</div>
				
	<p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
		<f:facet name="start">
			<p:graphicImage name="images/mps-logo.png" library="base" />
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>
</h:body>

</html>