<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pm="http://primefaces.org/adamantium"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <div class="layout-menu-cover-top Animated05" id="layout-menu-cover">
        <h:form id="menuform">
            <pm:menu>
            	<p:menuitem icon="fa fa-home" value="မူလစာမျက်နှာ" url="/" />
				<p:submenu label="မဲဆန္ဒရှင်များ" icon="icon icon-users">
					<p:menuitem value="မဲစာရင်းစစ်ဆေးရန်" url="../voter/check-voter.xhtml" />
					<p:menuitem value="မဲပေးနည်းလမ်းညွှန်" url="../voter/voter_guide.xhtml" />
				</p:submenu>
				<p:menuitem icon="fa  fa-male" value="ကိုယ်စားလှယ်လောင်းများ" url="../candidate/candidates.xhtml" />
				<p:menuitem icon="fa fa-flag-checkered" value="နိုင်ငံရေး ပါတီများ" url="../party/parties.xhtml" />
				<p:menuitem icon="fa fa-weixin" value="အမေးအဖြေများ" url="../faq/faq.xhtml"/>
				<p:submenu label="အထွေထွေလေ့လာစရာ" icon="icon icon-bookmark">
					<p:menuitem value="ရွေးကောက်ပွဲ ဥက္ကဌ၏ အမှာစကား" url="../media/chairmanExp.xhtml" />	
					<p:menuitem value="ဆောင်ရန်၊ရှောင်ရန်" url="../media/notice.xhtml" />
					<p:menuitem value="စာအုပ်များ" url="../media/books.xhtml" />
					<p:menuitem value="ဓာတ်ပုံများ" url="../media/photos.xhtml" />
					<p:menuitem value="ဗွီဒီယိုများ" url="../media/videos.xhtml" />
				</p:submenu>				
            </pm:menu>
        </h:form>
    </div>

</ui:composition>