<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<div id="rightbar" >
			<div style="float: none">
				<div class="ContainerIndent">
					<div class="Card" style="padding: 20px;">
					<div class="CardTopicMini">
						<i class="fa fa-globe Fs25 Fleft MarRight10" style="position: relative; bottom: 5px"></i>
						<span class="Fleft FontMyanmar3Bold LeadenGreen">လက်ရှိသင်၏ တည်နေရာ</span>
					</div>	
					<div class="Separator"></div>				
						<h:form id="frmGeo">
							<h:inputHidden id="longitude" value="#{geoLocation.longitude}" />
							<h:inputHidden id="latitude" value="#{geoLocation.latitude}" />
							<p:remoteCommand name="loadLocalizeParties"
								action="#{geoLocation.loadLocalizeParties()}"
								update="frmCandidates" rendered="#{request.servletPath.contains('home')}" />
							<div id="dvMap" style="width: 100%; height: 210px" />
						</h:form>
					</div>
				</div>
			</div>
		<div style="float: none">
			<div class="ContainerIndent">
				<div class="Card" style="padding: 20px;text-align: left;">
					<div class="CardTopicMini">
						<i class="icon-book-alt Fs25 Fleft MarRight10" style="position: relative; bottom: 5px"></i>
						<span class="Fleft FontMyanmar3Bold LeadenGreen">ဖတ်ရှုစေလိုပါသည်</span>
					</div>
						<div style="clear:both"></div>
					<div class="CardFooter">
						<p:link styleClass="Fs12" href="../media/chairmanExp.xhtml">
							<i class="icon icon-tag-fill MarRight10"></i>
							<span>ကော်မရှင် ဥက္ကဋ္ဌ၏ အမှာစကား</span>
						</p:link>
					</div>
					<div class="CardFooter">
						<p:link styleClass="Fs12" href="../media/notice.xhtml">
							<i class="icon icon-tag-fill MarRight10"></i>
							<span>ဆန္ဒမဲပေးခြင်းဆိုင်ရာများ</span>
						</p:link>
					</div>
					<div class="CardFooter">
						<p:link styleClass="Fs12" href="../voter/voter_guide.xhtml">
							<i class="icon icon-tag-fill MarRight10"></i>
							<span>မဲပေးနည်းလမ်းညွှန်</span>
						</p:link>
					</div>										
				</div>
			</div>
		</div>	
		<div style="float: none">	
			<div class="ContainerIndent MarLeft10px">
				<div class="Card" style="padding: 20px;text-align: center;">
					<div class="CardTopicMini">
		           		<i class="icon-picture Fs30 Fleft MarRight10" style="position: relative; bottom: 5px"></i>
						<span class="Fleft FontMyanmar3Bold LeadenGreen"><p:link href="../media/photos.xhtml">ဓာတ်ပုံများ</p:link></span>
		        </div>
		        <div class="Separator"></div>
	         	<div class="imagebox lightgallery">
	         			<a class="MarLeft5 Wid50 Fleft" href="/maepaysoh-web/javax.faces.resource/images/general/10.jpg.xhtml?ln=base">
					        <h:graphicImage style="width:115px;height:77px;" library="base" name="images/general/10.jpg" />
					    </a>
	         			<a class="MarLeft5 Wid50 Fleft" href="/maepaysoh-web/javax.faces.resource/images/general/6.jpg.xhtml?ln=base">
					          <h:graphicImage style="width:115px;height:77px;" library="base" name="images/general/6.jpg" />
					    </a>
	         			<a class="MarLeft5 Wid50 Fleft" href="/maepaysoh-web/javax.faces.resource/images/general/6.jpg.xhtml?ln=base">
					          <h:graphicImage style="width:115px;height:77px;" library="base" name="images/general/8.jpg" />
					    </a>
	         			<a class="MarLeft5 Wid50 Fleft" href="/maepaysoh-web/javax.faces.resource/images/general/6.jpg.xhtml?ln=base">
					          <h:graphicImage style="width:115px;height:77px;" library="base" name="images/general/1.jpg" />
					    </a>
	         	</div>
       		</div>
      	</div>
    </div>
<!-- 		<div class="ContainerIndent">
			<div class="Card HeiAutoOnMobile OvHidden"  style="padding-top: 10px; padding-bottom: 10px;">
				<div style="margin: 0px 10px 10px -10px; padding: 0px 10px;"
					class="Container100">
					<div style="margin: -10px 10px -10px -10px;padding: 10px 10px 20px;"
						class="SoftPurpleBack DispInlBlock Fleft">
						<i class="icon-download Purple Fs100"></i>
					</div>
					<p></p>
					<span class="Gray FontRobotoLight Fs18">Total Downloads</span><br/>
					<span class="Purple Fs30 FontRobotoBold">1,351 K+</span>
				</div>
				<div class="CardFooter">
					<span class="Green Fleft Fs12">မိုဘိုင်းဖုန်းဖြင့်လည်း လွယ်ကူစွာအသုံးပြုနိုင်ပါသည်။</span>
				</div>
			</div>
		</div> -->
</div>
</ui:composition>
