<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<!-- TOPBAR START -->

	<div id="layout-topbar">
	<h:form>
		<a id="menu-button" class="Animated1"> 
			<span id="menuline1" class="Animated05"></span> 
			<span id="menuline2" class="Animated05"></span>
			<span id="menuline3" class="Animated05"></span>
		</a>
	</h:form>
	<h:graphicImage library="base" name="images/mps-logo.png" style="height: 55px;"/>
	
	<a id="topmenu-button" class="Animated1">
            <i class="icon-list2"></i>
    </a>
    
	<ul id="top-menu">
		<!-- <li>
                <a class="menulink Animated05"><i class="icon-search"></i> <span>ပါတီများရှာရန်</span></a>
                <ul style="margin-left:-86px;">
                    <li><span class="PadWithBorder10 DispBlock"><p:inputText placeholder="ရှာမည့်စာသားရိုက်ပါ" styleClass="Wid70"/> <p:button icon="fa fa-search" styleClass="Fright"/></span></li>
                </ul>
        </li> -->
        <li>
			<a class="menulink Animated05 MarBot5"><i class="fa fa-keyboard-o animated swing infinite"></i> <span class="PosRelative" style="bottom:3px;">မြန်မာစာစနစ်</span></a>
        	<ul style="margin-left:-90px;">
        		<li><p:commandLink action="#{baseBean.saveLanguageCookie('uni')}"><i class="fa fa-buysellads Fs18 Fleft MarRight10"></i> <span class="FontMyanmar3 unilang">ယူနီကုဒ် </span></p:commandLink></li>
            	<li><p:commandLink action="#{baseBean.saveLanguageCookie('zawgyi')}"><i class="fa fa-font Fs18 Fleft MarRight10"></i> <span class="FontMyanmar3 zawgyilang">ဇော်ဂျီ</span></p:commandLink></li>
        	</ul>
        </li>
        
        <li>
			<a href="https://www.facebook.com/sharer/sharer.php?u=128.199.217.101:8080/maepaysoh-web/" target="_blank" class="menulink Animated05 MarBot5" ><i class="fa fa-facebook-square" style="color: #3A5795;"></i> <span>ဖြန့်ဝေရန်</span></a>
        </li>
         
     </ul>
	</div>
	<!-- TOPBAR END -->

</ui:composition>
