.bodyContent{
	background-color:#F7F5F3;
	border:none;
	margin-left:3px;
}

#layout-topbar {
	top:0;
}
#chairman{
	position : relative;
	margin-left: 75px;
	margin-right: 75px;
}
.partyGroupHeaderbar {
	border : none;
}
.partyGroupHeaderbar .ui-button-text {
	padding-top: 8px !important;padding-bottom: 3px !important;
	border: none !important;
	border-bottom: 4px solid green;
	color: #095A89;
}

.partyGroupHeaderbar .ui-state-active {
    background-color: #fff !important;
    border-bottom: 4px solid green;
    cursor: default;
}
.partyGroupHeaderbar .ui-button-text-only {
	background-color: #fff;
}