<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="../template/common.xhtml">
	<ui:define name="head">
		<h:outputStylesheet name="css/check-voter.css" library="check-voter" />
		<h:outputScript name="js/check-voter.js" library="check-voter"></h:outputScript>
	</ui:define>
	<ui:define name="content">

	<h:form id="check-voter">
	<p:messages globalOnly="false" showIcon="false" showSummary="false" showDetail="true" closable="true" />
		
	<div class="Wid50 Fleft Responsive100">
		<div class="ContainerIndent">

			<div class="Card">
				<div class="CardTopic">
					<span class="FontMyanmar3Bold DispBlock LeadenGreen">မဲစာရင်း စစ်ဆေးရန် </span>
				</div>
				<div class="SeparatorFull"></div>
				
					<p:inputText id="name" value="#{checkVoter.voter.voter}"
						placeholder="#{checkVoter.namePlaceHolder}" required="true"
						requiredMessage="သင်၏အမည်ကို ထည့်သွင်းပေးရန် လိုအပ်ပါသည်။" />
				
					<div class="EmptyBox10"></div>
	
					<p:selectOneMenu  value="#{checkVoter.nrcFlg}">
						<p:ajax event="valueChange" update="check-voter" />
						<f:selectItem itemLabel="#{checkVoter.selectItemNrc}" itemValue="true" />
						<f:selectItem itemLabel="#{checkVoter.selectItemDob}" itemValue="false" />
					</p:selectOneMenu>
	
					<div class="EmptyBox10"></div>
	
					<p:inputText id="nrc" value="#{checkVoter.voter.nrc}"
						placeholder="#{checkVoter.nrcPlaceHolder}"
						rendered="#{checkVoter.nrcFlg}" required="true"
						requiredMessage="နိုင်ငံသား မှတ်ပုံတင် နံပါတ် ထည့်သွင်းပေးရန်လိုအပ်ပါသည်။" />
						
					<p:calendar id="mask" value="#{checkVoter.voter.dob}"
						pattern="dd-MM-yyyy" rendered="#{!checkVoter.nrcFlg}"
						placeholder="#{checkVoter.datePlaceHolder}" required="true"
						showOn="button" ma
						requiredMessage="သင်၏မွေးနေ့ကို ထည့်သွင်းပေးရန် လိုအပ်ပါသည်။" />
	
					<div class="EmptyBox10"></div>
	
					<p:commandButton icon="fa fa-search" actionListener="#{checkVoter.searchVoter()}" value="ရှာဖွေရန်" update="result"/>
				</div>
			</div>
	</div>
	<script type="text/javascript">
	bindFonts();
	</script>
	</h:form>
	
	<div class="Wid50 Fleft Responsive100">
		<div class="ContainerIndent">

			<div class="Card">
				<div class="CardTopic">
					<span class="FontMyanmar3Bold DispBlock LeadenGreen">သတိပြုရန်</span>
				</div>
				<div class="SeparatorFull"></div>
				
				<div class="Fs18">
				<ul style="line-height: 180%">
					<li>မဲစာရင်းတွင်သင်၏နာမည်ပါ/မပါ စစ်ဆေးပါ။</li>
					<li>ပါလျှင်အချက်အလက်များမှန်/မမှန် စစ်ဆေးပါ။</li>
					<li>မပါလျှင် ပုံစံ(၃) ဖြင့် လျှောက်ပါ။</li>
					<li>အချက်အလက်များ မှားနေလျှင် ပုံစံ(၄-ဂ) ဖြင့်လျှောက်ပါ။</li>
				</ul>	
				</div>	
			</div>
		</div>
	</div>			

	<h:form id="result">
	<ui:fragment rendered="#{not empty checkVoter.voter.nrc}">
	<div class="Container100 Responsive100">
		<div class="ContainerIndent">
			<div class="Card">
				<div class="CardTopic">မဲစာရင်းတွင်ပါဝင်သော သင်၏ အချက်အလက်များ</div>
				<div class="SeparatorFull"></div>

				<div class="Container50 Responsive50 MarBot20">
					<div class="Wid20 Fleft TexAlCenter">
						<i class="icon-user Green Fs60"></i>
						<div class="EmptyBox20"></div>
					</div>
					
					<div class="Wid70 Fright">
						<span class="FontMyanmar3 Fs14 SoftOrange DispBlock">အမည်</span>
						<span class="FontMyanmar3 Fs22 Orange DispInherit">#{checkVoter.voter.voter}</span>
						<div class="EmptyBox20"></div>
						<span class="FontMyanmar3 Fs14 SoftOrange DispBlock">မွေးနေ့</span>
						<span class="FontMyanmar3 Fs22 Orange DispInherit">#{checkVoter.voter.dobMm}</span>
						<div class="EmptyBox20"></div>
						<span class="FontMyanmar3 Fs14 SoftOrange DispBlock">အဘ အမည်</span>
						<span class="FontMyanmar3 Fs22 Orange DispInherit">#{checkVoter.voter.father}</span>
					</div>
				</div>

				<div class="Container50 Responsive50 MarBot20">
					<div class="Wid20 Fleft TexAlCenter">
						<i class="icon-pin Pink Fs60"></i>
						<div class="EmptyBox20"></div>
					</div>
					<div class="Wid70 Fright">
						<span class="FontMyanmar3 Fs14 SoftRed DispBlock">ပြည်နယ်</span>
						<span class="FontMyanmar3 Fs22 Red DispBlock">#{checkVoter.voter.state}</span>
						<div class="EmptyBox20"></div>
						<span class="FontMyanmar3 Fs14 SoftRed DispBlock">ခရိုင်</span>
						<span class="FontMyanmar3 Fs22 Red DispBlock">#{checkVoter.voter.district}</span>
						<div class="EmptyBox20"></div>
						<span class="FontMyanmar3 Fs14 SoftRed DispBlock">မြို့နယ်</span>
						<span class="FontMyanmar3 Fs22 Red DispBlock">#{checkVoter.voter.township}</span>
						<div class="EmptyBox20"></div>
						<span class="FontMyanmar3 Fs14 SoftRed DispBlock">ရပ်ကွက်/ကျေးရွာအုပ်စု</span>
						<span class="FontMyanmar3 Fs22 Red DispBlock">#{checkVoter.voter.village}</span>
					</div>
				</div>

			</div>			
		</div>

	</div>
	</ui:fragment>
	</h:form>		
			
	<div class="Container100 Responsive100">
		<div class="ContainerIndent">
			<div class="Card">
				<span class="Fleft Fs20 Red">သိရှိလိုသည်များကို သင်နေထိုင်ရာ ရပ်ကွက်၊ ကျေးရွာရှိ ရွေးကောက်ပွဲကော်မရှင်အဖွဲ့ခွဲတွင် စုံစမ်းနိုင်ပါသည်။</span>
			</div>
		</div>
	</div>

	</ui:define>
</ui:composition>
</html>