<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="../template/common.xhtml">

	<ui:define name="content">
	<div class="ContainerIndent"  style="padding-top: 3px">
			<h:form id="voter_guide">
				<p:tabView cache="true" style="margin-top:9px;">
				    <p:tab title="ဆန္ဒမဲပေးပိုင်ခွင့်ရှိသူများ">
				    	<div class="Fs14 MarRight20">
					    	<section style="text-align: justify;margin-left: 20px;">
					    		အောက်ပါ အရည်အချင်းများနှင့် ပြည့်စုံသူများသည် အမျိုးသား၊ အမျိုးသမီးမရွေး၊ ဘာသာ မရွေး ရွေးကောက်ပွဲတွင် ဆန္ဒမဲ ပေးပိုင်ခွင့်ရှိသည်-<br/>
					    		<ul style="text-align: justify;margin-left: -20px;">
					    			<li>(၁)ရွေးကောက်ပွဲ စတင်ကျင်းပသည့်နေ့တွင် အသက်(၁၈)နှစ် ပြည့်ပြီး သက်ဆိုင်ရာ လွှတ်တော် ရွေးကောက်ပွဲ ဥပဒေပါ ပြဋ္ဌာန်းချက်များနှင့် မဆန့်ကျင်သော နိုင်ငံသား၊ ဧည့်နိုင်ငံသား၊ နိုင်ငံသား ပြုခွင့်ရသူ သို့မဟုတ် ယာယီ သက်သေခံ လက်မှတ် ကိုင်ဆောင်ထားသူ၊</li>
					    			<li>(၂)သက်ဆိုင်ရာ မဲဆန္ဒနယ်၏ မဲစာရင်းတွင် ပါဝင်သူ။</li>
					    		</ul>
					    	</section>
				    	</div>
				    </p:tab>
					   
				    <p:tab title="မဲပေးခြင်း"  icon="ui-icon-wrench">
					    <div class="Fs14 MarRight20">
					    	<section style="text-align: justify;margin-left: 20px;">
					    		ဆန္ဒမဲပေးရာတွင် လိုက်နာရမည့်အချက်များမှာ အောက်ပါအတိုင်းဖြစ်သည်-
					    		<ul style="text-align: justify;margin-left: -20px;">
					    			<li>(၁) ရွေးကောက်ပွဲတွင် ကြိုတင် ဆန္ဒမဲ လက်မှတ်ဖြင့် ဆန္ဒမဲပေးပြီး သူများမှအပ ဆန္ဒမဲပေး မည့်သူများသည် မဲရုံသို့ ကိုယ်တိုင် လာရောက်၍ ဆန္ဒမဲ ပေးရမည်။ ကိုယ်စားလှယ် စေလွှတ်၍ ဆန္ဒမဲပေးခြင်း မပြုရ။</li>
									<li>(၂)	မဲရုံမှူး သို့မဟုတ် ယင်းက တာ၀န်ပေးအပ်ထားသော မဲရုံအဖွဲ့ဝင်သည် ဆန္ဒမဲ လက်မှတ်ကို ဆန္ဒမဲပေးသူအား ထုတ်မပေးမီ မဲစာရင်းပါ ဆန္ဒမဲပေး ပိုင်ခွင့်ရှိသူ၏ အမည်နှင့် မဲစာရင်း အမှတ်တို့ မှန်ကန်ပါက မဲစာရင်းတွင် ဆန္ဒမဲ ပေးပိုင်ခွင့်ရှိသူအား လက်မှတ် ရေးထိုးခြင်း သို့မဟုတ် လက်ဝဲလက်မ လက်ဗွေနှိပ်ခြင်း ပြုစေပြီးနောက် ဆန္ဒမဲလက်မှတ်ကို ဆန္ဒမဲ ပေးပိုင်ခွင့် ရှိသူအား ထုတ်ပေးရမည်။</li>
									<li>(၃)	ဆန္ဒမဲ လက်မှတ်ကို ရရှိလျှင် ဆန္ဒမဲပေးသူသည် လျှို့ဝှက် ဆန္ဒပြုခန်း၌ ဆန္ဒမဲ လက်မှတ်ပေါ်တွင် မိမိဆန္ဒပြုလိုသော လွှတ်တော် ကိုယ်စားလှယ်လောင်း ၏ အမည်နှင့် သင်္ကေတ အမှတ်အသား တည့်တည့်တွင် ရှိသော လေးထောင့် အကွက် အတွင်း၌ အမှန်  (Â ) အမှတ်အသား ပြုရမည်။  ထို့နောက် မိမိ ဆန္ဒပြုထားသည်ကို သူတစ်ပါး မမြင်နိုင်စေရန် ဆန္ဒမဲလက်မှတ်ကို ခေါက်၍ သတ်မှတ်ထားသည့် မဲပုံးအတွင်းသို့ ထည့်ရမည်။ မဲပုံးထဲသို့ ထည့်ရမည့် ဆန္ဒမဲ လက်မှတ်တွင် မဲရုံမှူး၏ လက်မှတ်နှင့် ဆန္ဒမဲလက်မှတ်ပါ လေးထောင့်အကွက် အတွင်း၌ မဲဆန္ဒရှင် ဆန္ဒပြုထားသော အမှတ်အသားတို့မှ တစ်ပါး အခြား မည်သည့် အမှတ်အသားမျှ မပါဝင်စေရ။</li>
									<li>(၄)	ဆန္ဒမဲပေးသူသည် ဆန္ဒမဲလက်မှတ်ရှိ အမည်များကို မဖတ်တတ်လျှင် သို့မဟုတ် ညွှန်ကြားထားသည့် အတိုင်း ဆန္ဒမဲ မပေးတတ်လျှင် လည်းကောင်း၊ မျက်မမြင် ဖြစ်လျှင် လည်းကောင်း သက်ဆိုင်ရာ မဲစာရင်း၌ ပါရှိသော မဲဆန္ဒရှင်၏ ဖခင်၊ မိခင်၊ ဇနီး၊ ခင်ပွန်း၊ သား၊ သမီး၊ ညီအစ်ကို မောင်နှမ အရင်းတစ်ဦးဦးသည် ဆန္ဒမဲပေးသူက ညွှန်ကြားသည့်အတိုင်း သတ်မှတ်ထားသည့် နေရာတွင် ဆန္ဒမဲ လက်မှတ်၌ လျှို့ဝှက် ဆန္ဒပြုရမည်။ ယင်းပုဂ္ဂိုလ်များ မရှိခဲ့လျှင် မဲရုံမှူးသည် ယင်းပုဂ္ဂိုလ်များ ကိုယ်စား ဆောင်ရွက်ပေးရမည်။ ထို့နောက် ဆန္ဒမဲပေးသူအား ထိုဆန္ဒမဲလက်မှတ်ကို ခေါက်၍ မဲပုံးထဲသို့ ကိုယ်တိုင် ထည့်စေရမည်။</li>
									<li>(၅)	မဲရုံသို့ လာရောက် ဆန္ဒမဲပေးသူသည် ကျန်းမာ သန်စွမ်းခြင်း မရှိသောကြောင့် မိမိဆန္ဒ ပြုပြီးသော ဆန္ဒမဲလက်မှတ်ကို မဲပုံးထဲသို့ ထည့်နိုင်စွမ်း မရှိလျှင် မဲရုံ အဖွဲ့ဝင်များသည် ထိုသူအား ဆန္ဒမဲထည့်နိုင်စေရန် ကူညီရမည်။</li>
								</ul>
					    	</section>
				    	</div>
				    </p:tab>	
				
				    <p:tab title="မဲပေးရမည့်အချိန်နှင့်နေရာ">
					    <div class="Fs14 MarRight20">
					    	<section style="text-align: justify;margin-left: 20px;">
					    		မဲရုံဖွင့်လှစ်သည့်အချိန် နှင့်လိုက်နာရမည့်အချက်များမှာအောက်ပါအတိုင်းဖြစ်သည်-
					    		<ul style="text-align: justify;margin-left: -20px;">
					    			<li>(၁)ရွေးကောက်ပွဲ ကျင်းပသည့်နေ့တွင် မဲရုံများကို နံနက် ၆ နာရီမှ ညနေ ၄ နာရီ အထိ ဖွင့်လှစ်ထားရမည်။ သို့ရာတွင် ဆန္ဒမဲ ပေးပိုင်ခွင့်ရှိသူ အားလုံး ဆန္ဒမဲပေးပြီး ပါက မဲရုံများကို ညနေ ၄ နာရီ ထက်စော၍ ပိတ်နိုင်သည်။</li>
									<li>(၂)မဲရုံကို ညနေ ၄ နာရီ တိတိအချိန်တွင် ပိတ်သည့်အခါ မဲရုံမပိတ်မီ ထိုမဲရုံပရိဝုဏ် အတွင်း၌ ဆန္ဒမဲပေးရန် ရောက်ရှိ နေသူများအနက် ဆန္ဒမဲ မပေးရသေးသူများ ရှိပါက ယင်းတို့ကို စာရင်းကောက်ယူ၍ ထိုစာရင်းတွင် ပါဝင်သူများ ကိုသာလျှင် ဆန္ဒမဲပေးချိန် ကျော်လွန်ပြီး ဖြစ်စေ ကာမူ ဆန္ဒမဲပေးခွင့် ပြုရမည်။</li>
									<li>(၃)ကြိုတင် ဆန္ဒမဲ လက်မှတ်ဖြင့် ဆန္ဒမဲပေးပြီး သူများမှအပ ဆန္ဒမဲပေးပိုင်ခွင့် ရှိသူများသည် သက်ဆိုင်ရာ မဲရုံအသီးသီး၌ ဆန္ဒမဲ လက်မှတ်များကို ကိုယ်တိုင် လာရောက် ထုတ်ယူပြီး လျှို့ဝှက် ဆန္ဒပြု၍ သက်ဆိုင်ရာ မဲပုံးအတွင်းသို့ ကိုယ်တိုင် ထည့်ရမည်။ မည်သူမျှ ကိုယ်စားစေလွှတ်၍ ဆန္ဒမဲပေးခြင်း မပြုရ။</li>
								</ul>
					    	</section>
				    	</div>	
				    </p:tab>
				</p:tabView>	
			</h:form>	
		</div>		
	</ui:define>
</ui:composition>
</html>