<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:up="http://java.sun.com/jsf/composite/unitedPrime">

<ui:composition template="/pages/template/common.xhtml">
	<ui:define name="head">
		<h:outputStylesheet name="css/party.css" library="party" />
	</ui:define>

	<ui:define name="content">
			<div class="ContainerIndent">
				<div class="Card">
					<div class="CardTopic">
						<span class="FontMyanmar3Bold DispBlock LeadenGreen Fs18">မေးခွန်းများရှာဖွေရန်</span>
					</div>
					<div class="SeparatorFull"></div>
					
					<h:form id="faqSearchBar">
					<div class="Container100 TexAlCenter">

					<div class="Container100 TexAlCenter">
					<p:selectOneMenu value="#{faqBean.lawOrSource}">
						<f:selectItems value="#{sources}" var="src" itemLabel="#{src.value}" itemValue="#{src.key}"></f:selectItems>
					</p:selectOneMenu>
					</div>
					
					<span class="MarRight10">
						<p:inputText styleClass="Responsive100 MarTop10" value="#{faqBean.keyword}" placeholder="#{faqBean.keyWordPlaceHolder}"/>
					</span>

					<p:commandButton styleClass="Responsive100 MarTop10" value="ရှာဖွေရန်" icon="fa fa-search" update="Faq:gridFaq" />
					
					</div>

					<script type="text/javascript">
						if($.cookie("lang") == "zawgyi"){
							$("#faqSearchBar\\:category_label").attr("style","font-family: \'Myanmar3\' !important;font-size: 14px !important;");
						}
					</script>					
					</h:form>
				</div>
			</div>
			<div class="Container100 Responsive100">
				<h:form id="Faq">
								<div class="loadingImage" style="text-align: center; height: 5px;padding-bottom: 10px">
									<p:ajaxStatus style="display:block;text-align:center;">
										<f:facet name="start">
											<script type="text/javascript">
												$(".ui-paginator").css('display', 'block');
											</script>
											<h:graphicImage library="base" name="images/22.gif" />
										</f:facet>
										<f:facet name="complete">
											<script type="text/javascript">
												$(".ui-paginator").css('display', 'block');
											</script>
										</f:facet>
									</p:ajaxStatus>									
								</div>				
				<p:dataGrid id="gridFaq" styleClass="bodyContent"
					emptyMessage="အချက်အလက်များမတွေ့ပါ။"
					var="faq"  value="#{faqBean.faqList}" 
					paginatorPosition="bottom" paginator="true" 
					rows="5" lazy="true" columns="1" layout="grid" 
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		            rowsPerPageTemplate="5,10,30,60"
		            rowIndexVar="index" pageLinks="5">
					<up:faqItem data="#{faq}" />
		         </p:dataGrid>
				</h:form>
			</div>
	</ui:define>

</ui:composition>
</html>