<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:up="http://java.sun.com/jsf/composite/unitedPrime">

<h:head>
	<f:metadata>
		<f:viewParam name="partyId" value="#{partyBean.partyId}" />
		<f:event type="preRenderView" listener="#{partyBean.getPartyInfoById()}" />
	</f:metadata>
</h:head>
<ui:composition template="/pages/template/common.xhtml">
	<ui:define name="head">
		<h:outputStylesheet name="css/party.css" library="party" />
		
	</ui:define>
	<ui:define name="content">
		
		<div class="ContainerIndent">
			<up:partyDetailsItem data="#{partyBean.party}" />			
		</div>
		<h:outputScript name="party.js" library="js" />

	</ui:define>

</ui:composition>
</html>