<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:up="http://java.sun.com/jsf/composite/unitedPrime">

<ui:composition template="/pages/template/common.xhtml">
	<ui:define name="head">
		<h:outputStylesheet name="css/party.css" library="party" />
	</ui:define>
	<ui:define name="content">
	
	<h:outputScript name="partyList.js" library="js"></h:outputScript>
	<h:form id="frmParty">
		<div class="ContainerIndent">
		<div class="Card">
			<div class="CardTopic">
			<span class="FontMyanmar3Bold DispBlock LeadenGreen">
				ပါတီများ
			</span>
			</div>
			<div class="SeparatorFull"></div>
			
			<div class="Container100 Responsive100 TexAlCenter">
				<span class="Responsive100 MarRight10">
					<p:inputText styleClass="Responsive100" value="#{partyBean.partyName}" placeholder="#{partyBean.partyNamePlaceHolder}"/>
				</span>

				<span class="Responsive100 MarRight10 MarTop10">
					<p:inputText styleClass="Responsive100" value="#{partyBean.chairman}" placeholder="#{partyBean.partyLeaderPlaceHolder}"/>
				</span>

				<span class="Responsive100 MarRight10 MarTop10">
					<p:inputText styleClass="Responsive100" value="#{partyBean.shortName}" placeholder="#{partyBean.partyShortNamePlaceHolder}"/>
				</span>

				<p:commandButton styleClass="MarTop10 Responsive100" icon="fa fa-search" value="ရှာဖွေရန်" update="frmParty:partyGrid"></p:commandButton>
			
			</div>
			
			
		</div>
		</div>
		<div class="loadingImage" style="text-align: center; height: 10px;margin-top: 8px;">
			<p:ajaxStatus style="display:block;text-align:center;">
				<f:facet name="start">
					<script type="text/javascript">
						$(".ui-paginator").css('display', 'block');
					</script>
					<h:graphicImage library="base" name="images/22.gif" />
				</f:facet>
				<f:facet name="complete">
					<script type="text/javascript">
						$(".ui-paginator").css('display', 'block');
					</script>
				</f:facet>
			</p:ajaxStatus>									
		</div>		
		<p:dataGrid id="partyGrid" styleClass="tblParties" var="party"
			emptyMessage="အချက်အလက်များမတွေ့ပါ။"
			value="#{partyBean.partyList}" paginatorPosition="bottom"
			paginator="true" rows="10" lazy="true" columns="2" layout="grid"
			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="15,30,60" rowIndexVar="index"
			pageLinks="5">
			<div class="ContainerIndent">
				<up:partyItem data="#{party}"></up:partyItem>
			</div>
		</p:dataGrid>
	</h:form>
	
	
	</ui:define>

</ui:composition>
</html>